{% extends 'core/base.html' %}
{% block contenido %}
<div class="mt-3">
    <div class="container card pb-4">

        <div class="row">
            <div class="col-12 card-header">
                <strong>
                    <p style="font-size:20px;" class="text-center">Búsqueda de publicaciones (basado en NASA/ADS)</p>
                </strong>
            </div>
        </div>

        <div class="row">
            <div class="mt-2 col-12">
                <i>
                    <p class="text-muted">QUICK:
                        <button id="autor" class="btn btn-link">author</button>
                        <button id="primer_autor" class="btn btn-link">1st author</button>
                        <button id="año" class="btn btn-link">year</button>
                        <button id="abstract" class="btn btn-link">abstract</button>
                        <button id="title" class="btn btn-link">title</button>
                        <button id="database" class="btn btn-link">database</button>
                    </p>
                </i>
            </div>
        </div>

        <hr>
        <div class="row">
            <form class="col-12" method="GET" action="{% url 'biblioteca:publicaciones_generales' %}"
                id="formBusquedaGeneral">
                <label for="autor">Búsqueda general:</label>
                <div class="input-group">

                    <input class="form-control col-12" type="text" name="author" id="busquedaGeneral"
                        class="form-control" id="validationCustomUsername" aria-describedby="inputGroupPrepend"
                        required>
                    <div class="input-group-append">
                        <button class="text-white btn btn-primary sesion">Buscar &nbsp;<i
                                class="fas fa-search"></i></button>
                    </div>

                </div>
            </form>
        </div>

        <div class="row justify-content-center d-flex">

            <div class="mt-4 col-6">
                <p><strong>autor</strong> Hawking, S</p>
                <p><strong>1er autor</strong> ^Hawking, S</p>
                <p><strong>año</strong> year:2012</p>
                <p><strong>rango</strong> year:2000-2015</p>
                <p><strong>abstract</strong> abs:"OAGH"</p>
                <p><strong>astronomía</strong> database:"astronomy"</p>

            </div>

            <div class="mt-4 col-6">
                <strong>ejemplos:</strong>
                <p style="margin-left: 70px;">Haro abs:"T Tauri" year:1960-1965</p>
                <p style="margin-left: 70px;">^Faber author:"Dressler"</p>
                <p style="margin-left: 70px;">Hubble, E year:1920</p>
                <p style="margin-left: 70px;">author: "Smith, A" database:"astronomy"</p>
                <p style="margin-left: 70px;">title: "Event Horizon Telescope"</p>

            </div>

        </div>
        <hr>

        <div class="row">
            <form class="col-12" method="GET" action="{% url 'biblioteca:publicaciones_bidcode' %}"
                id="formBusquedaBibcode">
                <label for="bibcode">BibCode:</label>
                <div class="input-group">
                    <input placeholder="ejemplo: 2018MNRAS.479..917G" class="form-control" type="text" name="bibcode"
                        id="bibcode">
                    <div class="input-group-append">
                        <button class="text-white btn btn-primary sesion">Buscar &nbsp;<i
                                class="fas fa-search"></i></button>
                    </div>
                </div>
            </form>
        </div>
        <hr>

        <div class="row">
            <form class="col-12" method="GET" action="{% url 'biblioteca:publicaciones_orcid' %}"
                id="formBusquedaOrcid">
                <label for="orcid">ORCID:</label>
                <div class="input-group">
                    <input placeholder="0000-0002-1825-0097" class="form-control" value="{{user.orcId}}" type="text"
                        name="orcid" id="orcid">
                    <div class="input-group-append">
                        <button class="text-white btn btn-primary sesion">Buscar &nbsp;<i
                                class="fas fa-search"></i></button>
                    </div>
                </div>

                {% if user.orcId == "" %}
                <small> &nbsp;&nbsp; No tiene asignado un ORCID iD en su <a
                        href="{% url 'registration:actualizar-perfil' %}">perfil.</a></small>

                {% endif %}
            </form>
        </div>
        <hr>
    </div>
</div>

{% endblock %}

{% block JSCode %}
<script>

    $("#formBusquedaGeneral").submit(function () {
        Swal.fire({
            title: 'Búsqueda General',
            allowOutsideClick: false,
            allowEscapeKey: false,
            text: 'espere un momento, por favor',
            onBeforeOpen: () => {
                Swal.showLoading()
            },
        });
    });

    $('#formBusquedaBibcode').submit(function () {
        Swal.fire({
            title: 'Búsqueda por bibcode',
            allowOutsideClick: false,
            allowEscapeKey: false,
            text: 'espere un momento, por favor',
            onBeforeOpen: () => {
                Swal.showLoading()
            },
        });
    });

    $('#formBusquedaOrcid').submit(function () {
        Swal.fire({
            title: 'Búsqueda por ORCID',
            allowOutsideClick: false,
            allowEscapeKey: false,
            text: 'espere un momento, por favor',
            onBeforeOpen: () => {
                Swal.showLoading()
            },
        });
    });
    $(".sesion").click(function () {
        timer.reset(540000);
    });

    $("#autor").click(function () {
        $('#busquedaGeneral').val($('#busquedaGeneral').val() + 'author:"" ')
        timer.reset(540000);

    });

    $("#primer_autor").click(function () {
        $('#busquedaGeneral').val($('#busquedaGeneral').val() + 'author:"^" ')
        timer.reset(540000);
    });

    $("#año").click(function () {
        $('#busquedaGeneral').val($('#busquedaGeneral').val() + 'year:')
        timer.reset(540000);
    });

    $("#abstract").click(function () {
        $('#busquedaGeneral').val($('#busquedaGeneral').val() + 'abs:"" ')
        timer.reset(540000);
    });

    $("#title").click(function () {
        $('#busquedaGeneral').val($('#busquedaGeneral').val() + 'title:"" ')
        timer.reset(540000);
    });

    $("#database").click(function () {
        $('#busquedaGeneral').val($('#busquedaGeneral').val() + 'database:"astronomy" ')
        timer.reset(540000);
    });
</script>
{% endblock %}