{% load name %}
<div class="card" id="numeral">
    {% for numeral in numeralName %}
    <div class="card-header">
            <a href="#" data-toggle="collapse" data-target="#numeral{{numeral.id}}" onclick="icono({{numeral.id}})" class="text-primary">{{numeral}}&nbsp;<i
                    class="fa fa-chevron-down numeral{{numeral.id}}"></i></a>
            <i onclick="glosario()" style="font-size: 30px; cursor: pointer;" data-toggle="modal"
                class="far fa-question-circle float-right"></i>
    </div>

    <div id="numeral{{numeral.id}}" class="collapse" data-parent="#numeral">
        <div class="card-body" style="font-size: 14px">

            <!--numeral 40 modelo7 -->
            {% if numeral.orden == 40 %}
            <div>
                {% for modelo7 in numeral_40 %}
                <form id="modelo7{{modelo7.id}}">
                    {% csrf_token %}
                    <div class="form-group row">
                        <label for="" class="col-sm-2">Autor(es): </label>
                        <div class="col-sm-10">
                            <input disabled class="form-control mb-1" type="text" name="autores"
                                id="autoresModelo7{{modelo7.id}}" value="{{modelo7.autores}}">
                        </div>
                    </div>

                    <div class="form-group row">
                        <label for="" class="col-sm-2">URL:</label>
                        <div class="col-sm-10">
                            <input disabled class="form-control mb-1" type="text" name="url"
                                id="urlModelo7{{modelo7.id}}" value="{{modelo7.url}}">
                        </div>
                    </div>

                    <label for="">Descripción</label>
                    <textarea disabled class="form-control mb-1" name="descripcion"
                        id="descripcionModelo7{{modelo7.id}}" cols="30" rows="5">{{modelo7.descripcion}}</textarea>

                    <input disabled class="form-control" type="file" accept=".pdf, image/*" name="anexo"
                        id="anexoModelo7{{modelo7.id}}">
                    <small class="mb-4">Tamaño máximo: 5 Mb</small>

                    {%if modelo7.anexos %}
                    <strong>Actualmente: </strong><a
                        href="{{modelo7.anexos.url}}">{{modelo7.anexos.name|nombreFile}}</a>
                    {% endif %}

                    <div class="justify-content-end d-flex">
                        <div class="row">
                            <div class="col-12">
                                <button onclick="Modelo7.actualizar({{modelo7.id}})" type="button"
                                    class="btn btn-success" title="Guardar cambios"><i class="fas fa-save">&nbsp;
                                        Guardar</i></button>
                                <button onclick="Modelo7.editar({{modelo7.id}},false)"
                                    class="btn btn-warning  text-white" type="reset">
                                    <i class="fas fa-ban text-white">&nbsp;Cancelar</i></button>
                                <button type="button" class="btn btn-primary" onclick="Modelo7.editar({{modelo7.id}})"
                                    title="Editar entrada"><i class="fas fa-edit">&nbsp;Editar</i></button>
                                <button type="button" class="btn btn-danger" onclick="Modelo7.eliminar({{modelo7.id}})"
                                    title="Eliminar entrada"><i class="fas fa-trash-alt">&nbsp;Eliminar</i></button>
                            </div>
                        </div>
                    </div>

                </form>
                <hr>
                {% empty %}
                <div class="alert alert-danger m-4" id="sinEntradas{{numeral.id}}" role="alert">
                    <strong>
                        <p class="text-center ">Sin entradas</p>
                    </strong>
                </div>    
                <button title="Asignar informacion anterior" type="button" class="btn btn-link"
                    id="infoAnteriorModelo7{{numeral.id}}"
                    onclick="Modelo7.infoAnterior({{numeral.id}})">Importar periodo
                    anterior</button>  
                {% endfor %}
                <div class="w-100"></div>
                <button onclick="Modelo7.crear({{numeral.id}})" type="button"
                    id="modelo7Crear{{numeral.id}}" class="btn btn-danger"><i class="fas fa-plus-circle"></i>&nbsp;
                    Agregar entrada</button>
                <p style="cursor: pointer;" data-toggle="collapse" data-target="#numeral{{numeral.id}}" class="text-primary link float-right">Cerrar&nbsp;<i
                        class="fa fa-chevron-up"></i></p>
            </div>
            {% endif %}
            <!--Fin Numeral 40 -->

            <!--numeral 41 modelo7 -->
            {% if numeral.orden == 41 %}
            <div>
                {% for modelo7 in numeral_41 %}

                <form id="modelo7{{modelo7.id}}">
                    {% csrf_token %}
                    <div class="form-group row">
                        <label for="" class="col-sm-2">Autor(es): </label>
                        <div class="col-sm-10">
                            <input disabled class="form-control mb-1" type="text" name="autores"
                                id="autoresModelo7{{modelo7.id}}" value="{{modelo7.autores}}">
                        </div>
                    </div>

                    <div class="form-group row">
                        <label for="" class="col-sm-2">URL:</label>
                        <div class="col-sm-10">
                            <input disabled class="form-control mb-1" type="text" name="url"
                                id="urlModelo7{{modelo7.id}}" value="{{modelo7.url}}">
                        </div>
                    </div>

                    <label for="">Descripción</label>
                    <textarea disabled class="form-control mb-1" name="descripcion"
                        id="descripcionModelo7{{modelo7.id}}" cols="30" rows="5">{{modelo7.descripcion}}</textarea>

                    <input disabled class="form-control" type="file" accept=".pdf, image/*" name="anexo"
                        id="anexoModelo7{{modelo7.id}}">
                    <small class="mb-4">Tamaño máximo: 5 Mb</small>

                    {%if modelo7.anexos %}
                    <strong>Actualmente: </strong><a
                        href="{{modelo7.anexos.url}}">{{modelo7.anexos.name|nombreFile}}</a>
                    {% endif %}

                    <div class="justify-content-end d-flex">
                        <div class="row">
                            <div class="col-12">
                                <button onclick="Modelo7.actualizar({{modelo7.id}})" type="button"
                                    class="btn btn-success" title="Guardar cambios"><i class="fas fa-save">&nbsp;
                                        Guardar</i></button>
                                <button onclick="Modelo7.editar({{modelo7.id}},false)"
                                    class="btn btn-warning  text-white" type="reset">
                                    <i class="fas fa-ban text-white">&nbsp;Cancelar</i></button>
                                <button type="button" class="btn btn-primary" onclick="Modelo7.editar({{modelo7.id}})"
                                    title="Editar entrada"><i class="fas fa-edit">&nbsp;Editar</i></button>
                                <button type="button" class="btn btn-danger" onclick="Modelo7.eliminar({{modelo7.id}})"
                                    title="Eliminar entrada"><i class="fas fa-trash-alt">&nbsp;Eliminar</i></button>
                            </div>
                        </div>

                    </div>
                </form>
                <hr>
                {% empty %}
                <div class="alert alert-danger m-4" id="sinEntradas{{numeral.id}}" role="alert">
                    <strong>
                        <p class="text-center ">Sin entradas</p>
                    </strong>
                </div>
                <button title="Asignar informacion anterior" type="button" class="btn btn-link"
                    id="infoAnteriorModelo7{{numeral.id}}"
                    onclick="Modelo7.infoAnterior({{numeral.id}})">Importar periodo
                    anterior</button>
                
                {% endfor %}
                <div class="w-100"></div>
                <button onclick="Modelo7.crear({{numeral.id}})" type="button"
                    id="modelo7Crear{{numeral.id}}" class="btn btn-danger"><i class="fas fa-plus-circle"></i>&nbsp;
                    Agregar entrada</button>
                <p style="cursor: pointer;" data-toggle="collapse" data-target="#numeral{{numeral.id}}" class="text-primary link float-right">Cerrar&nbsp;<i
                    class="fa fa-chevron-up"></i></p>
            </div>
            {% endif %}
            <!--Fin Numeral 41 -->

            <!--numeral 42 modelo7 -->
            {% if numeral.orden == 42 %}
            <div>
                {% for modelo7 in numeral_42 %}

                <form id="modelo7{{modelo7.id}}">
                    {% csrf_token %}
                    <div class="form-group row">
                        <label for="" class="col-sm-2">Autor(es): </label>
                        <div class="col-sm-10">
                            <input disabled class="form-control mb-1" type="text" name="autores"
                                id="autoresModelo7{{modelo7.id}}" value="{{modelo7.autores}}">
                        </div>
                    </div>

                    <div class="form-group row">
                        <label for="" class="col-sm-2">URL:</label>
                        <div class="col-sm-10">
                            <input disabled class="form-control mb-1" type="text" name="url"
                                id="urlModelo7{{modelo7.id}}" value="{{modelo7.url}}">
                        </div>
                    </div>

                    <label for="">Descripción</label>
                    <textarea disabled class="form-control mb-1" name="descripcion"
                        id="descripcionModelo7{{modelo7.id}}" cols="30" rows="5">{{modelo7.descripcion}}</textarea>

                    <input disabled class="form-control" type="file" accept=".pdf, image/*" name="anexo"
                        id="anexoModelo7{{modelo7.id}}">
                    <small class="mb-4">Tamaño máximo: 5 Mb</small>

                    {%if modelo7.anexos %}
                    <strong>Actualmente: </strong><a
                        href="{{modelo7.anexos.url}}">{{modelo7.anexos.name|nombreFile}}</a>
                    {% endif %}

                    <div class="justify-content-end d-flex">
                        <div class="row">
                            <div class="col-12">
                                <button onclick="Modelo7.actualizar({{modelo7.id}})" type="button"
                                    class="btn btn-success" title="Guardar cambios"><i class="fas fa-save">&nbsp;
                                        Guardar</i></button>
                                <button onclick="Modelo7.editar({{modelo7.id}},false)"
                                    class="btn btn-warning  text-white" type="reset">
                                    <i class="fas fa-ban text-white">&nbsp;Cancelar</i></button>
                                <button type="button" class="btn btn-primary" onclick="Modelo7.editar({{modelo7.id}})"
                                    title="Editar entrada"><i class="fas fa-edit">&nbsp;Editar</i></button>
                                <button type="button" class="btn btn-danger" onclick="Modelo7.eliminar({{modelo7.id}})"
                                    title="Eliminar entrada"><i class="fas fa-trash-alt">&nbsp;Eliminar</i></button>
                            </div>
                        </div>
                    </div>
                </form>
                <hr>
                {% empty %}
                <div class="alert alert-danger m-4" id="sinEntradas{{numeral.id}}" role="alert">
                    <strong>
                        <p class="text-center ">Sin entradas</p>
                    </strong>
                </div>

                <button title="Asignar informacion anterior" type="button" class="btn btn-link"
                    id="infoAnteriorModelo7{{numeral.id}}"
                    onclick="Modelo7.infoAnterior({{numeral.id}})">Importar periodo
                    anterior</button>
                
                {% endfor %}
                <div class="w-100"></div>
                <button onclick="Modelo7.crear({{numeral.id}})" type="button"
                    id="modelo7Crear{{numeral.id}}" class="btn btn-danger"><i class="fas fa-plus-circle"></i>&nbsp;
                    Agregar entrada</button>
                <p style="cursor: pointer;" data-toggle="collapse" data-target="#numeral{{numeral.id}}" class="text-primary link float-right">Cerrar&nbsp;<i
                    class="fa fa-chevron-up"></i></p>
            </div>
            {% endif %}
            <!--Fin Numeral 42 -->

            <!--numeral 43 modelo7 -->
            {% if numeral.orden == 43 %}
            <div>
                {% for modelo7 in numeral_43 %}

                <form id="modelo7{{modelo7.id}}">
                    {% csrf_token %}
                    <div class="form-group row">
                        <label for="" class="col-sm-2">Autor(es): </label>
                        <div class="col-sm-10">
                            <input disabled class="form-control mb-1" type="text" name="autores"
                                id="autoresModelo7{{modelo7.id}}" value="{{modelo7.autores}}">
                        </div>
                    </div>

                    <div class="form-group row">
                        <label for="" class="col-sm-2">URL:</label>
                        <div class="col-sm-10">
                            <input disabled class="form-control mb-1" type="text" name="url"
                                id="urlModelo7{{modelo7.id}}" value="{{modelo7.url}}">
                        </div>
                    </div>

                    <label for="">Descripción</label>
                    <textarea disabled class="form-control mb-1" name="descripcion"
                        id="descripcionModelo7{{modelo7.id}}" cols="30" rows="5">{{modelo7.descripcion}}</textarea>

                    <input disabled class="form-control" type="file" accept=".pdf, image/*" name="anexo"
                        id="anexoModelo7{{modelo7.id}}">
                    <small class="mb-4">Tamaño máximo: 5 Mb</small>

                    {%if modelo7.anexos %}
                    <strong>Actualmente: </strong><a
                        href="{{modelo7.anexos.url}}">{{modelo7.anexos.name|nombreFile}}</a>
                    {% endif %}

                    <div class="justify-content-end d-flex">
                        <div class="row">
                            <div class="col-12">
                                <button onclick="Modelo7.actualizar({{modelo7.id}})" type="button"
                                    class="btn btn-success" title="Guardar cambios"><i class="fas fa-save">&nbsp;
                                        Guardar</i></button>
                                <button onclick="Modelo7.editar({{modelo7.id}},false)"
                                    class="btn btn-warning text-white" type="reset">
                                    <i class="fas fa-ban text-white">&nbsp;Cancelar</i></button>
                                <button type="button" class="btn btn-primary" onclick="Modelo7.editar({{modelo7.id}})"
                                    title="Editar entrada"><i class="fas fa-edit">&nbsp;Editar</i></button>
                                <button type="button" class="btn btn-danger" onclick="Modelo7.eliminar({{modelo7.id}})"
                                    title="Eliminar entrada"><i class="fas fa-trash-alt">&nbsp;Eliminar</i></button>
                            </div>
                        </div>
                    </div>

                </form>
                <hr>
                {% if forloop.last %}
                <button onclick="Modelo7.crear({{numeral.id}})" type="button"
                    id="modelo7Crear{{numeral.id}}" class="btn btn-danger"><i class="fas fa-plus-circle"></i>&nbsp;
                    Agregar entrada</button>
                <p style="cursor: pointer;" class="text-primary link float-right">Cerrar&nbsp;<i
                        class="fa fa-chevron-up"></i></p>
                {% endif %}

                {% empty %}
                <div class="alert alert-danger m-4" id="sinEntradas{{numeral.id}}" role="alert">
                    <strong>
                        <p class="text-center ">Sin entradas</p>
                    </strong>
                </div>
                <button onclick="Modelo7.crear({{numeral.id}})" type="button"
                    id="modelo7Crear{{numeral.id}}" class="btn btn-danger"><i class="fas fa-plus-circle"></i>&nbsp;
                    Agregar entrada</button>
                <p style="cursor: pointer;" data-toggle="collapse" data-target="#numeral{{numeral.id}}" class="text-primary link float-right">Cerrar&nbsp;<i
                        class="fa fa-chevron-up"></i></p>
                {% endfor %}
            </div>
            {% endif %}
            <!--Fin Numeral 43-->

            <!--numeral 44 modelo7 -->
            {% if numeral.orden == 44 %}
            <div>
                {% for modelo7 in numeral_44 %}

                <form id="modelo7{{modelo7.id}}">
                    {% csrf_token %}
                    <div class="form-group row">
                        <label for="" class="col-sm-2">Autor(es): </label>
                        <div class="col-sm-10">
                            <input disabled class="form-control mb-1" type="text" name="autores"
                                id="autoresModelo7{{modelo7.id}}" value="{{modelo7.autores}}">
                        </div>
                    </div>

                    <div class="form-group row">
                        <label for="" class="col-sm-2">URL: </label>
                        <div class="col-sm-10">
                            <input disabled class="form-control mb-1" type="text" name="url"
                                id="urlModelo7{{modelo7.id}}" value="{{modelo7.url}}">
                        </div>
                    </div>

                    <label for="">Descripción</label>
                    <textarea disabled class="form-control mb-1" name="descripcion"
                        id="descripcionModelo7{{modelo7.id}}" cols="30" rows="5">{{modelo7.descripcion}}</textarea>

                    <input disabled class="form-control" type="file" accept=".pdf, image/*" name="anexo"
                        id="anexoModelo7{{modelo7.id}}">
                    <small class="mb-4">Tamaño máximo: 5 Mb</small>

                    {%if modelo7.anexos %}
                    <strong>Actualmente: </strong><a
                        href="{{modelo7.anexos.url}}">{{modelo7.anexos.name|nombreFile}}</a>
                    {% endif %}

                    <div class="justify-content-end d-flex">
                        <div class="row">
                            <div class="col-12">
                                <button onclick="Modelo7.actualizar({{modelo7.id}})" type="button"
                                    class="btn btn-success" title="Guardar cambios"><i class="fas fa-save">&nbsp;
                                        Guardar</i></button>
                                <button onclick="Modelo7.editar({{modelo7.id}},false)"
                                    class="btn btn-warning text-white" type="reset">
                                    <i class="fas fa-ban text-white">&nbsp;Cancelar</i></button>
                                <button type="button" class="btn btn-primary" onclick="Modelo7.editar({{modelo7.id}})"
                                    title="Editar entrada"><i class="fas fa-edit">&nbsp;Editar</i></button>
                                <button type="button" class="btn btn-danger" onclick="Modelo7.eliminar({{modelo7.id}})"
                                    title="Eliminar entrada"><i class="fas fa-trash-alt">&nbsp;Eliminar</i></button>
                            </div>
                        </div>

                    </div>
                </form>
                <hr>
                {% empty %}
                <div class="alert alert-danger m-4" id="sinEntradas{{numeral.id}}" role="alert">
                    <strong>
                        <p class="text-center ">Sin entradas</p>
                    </strong>
                </div>
                
                <button title="Asignar informacion anterior" type="button" class="btn btn-link"
                    id="infoAnteriorModelo7{{numeral.id}}"
                    onclick="Modelo7.infoAnterior({{numeral.id}})">Importar periodo
                    anterior</button>

                {% endfor %}
                <div class="w-100"></div>
                <button onclick="Modelo7.crear({{numeral.id}})" type="button"
                    id="modelo7Crear{{numeral.id}}" class="btn btn-danger"><i class="fas fa-plus-circle"></i>&nbsp;
                    Agregar entrada</button>
                <p style="cursor: pointer;" data-toggle="collapse" data-target="#numeral{{numeral.id}}" class="text-primary link float-right">Cerrar&nbsp;<i
                    class="fa fa-chevron-up"></i></p>
            </div>
            {% endif %}
            <!--Fin Numeral 44-->

            <!-- Numeral 45 Modelo 8-->
            {% if numeral.orden == 45 %}
            <div>
                {% for modelo8 in numeral_45 %}

                <form id="modelo8{{modelo8.id}}">
                    {% csrf_token %}
                    <div class="form-group row">
                        <label for="" class="col-sm-2">Nombre: </label>
                        <div class="col-sm-10">
                            <input disabled class="form-control mb-1" type="text" name="nombre"
                                id="nombreModelo8{{modelo8.id}}" value="{{modelo8.nombre}}">
                        </div>
                    </div>

                    <div class="form-group row">
                        <label for="" class="col-sm-2">Participante(s): </label>
                        <div class="col-sm-10">
                            <input disabled class="form-control mb-1" type="text" name="participantes"
                                id="participantesModelo8{{modelo8.id}}" value="{{modelo8.participantes}}">
                        </div>
                    </div>

                    <div class="form-group row">
                        <label for="" class="col-sm-2">Financiamiento: </label>
                        <div class="col-sm-10">
                            <input disabled class="form-control mb-1" type="text" name="financiamiento"
                                id="financiamientoModelo8{{modelo8.id}}" value="{{modelo8.financiamiento}}">
                        </div>
                    </div>

                    <label for="">Descripción: </label>
                    <textarea disabled class="form-control mb-1" name="descripcion"
                        id="descripcionModelo8{{modelo8.id}}" cols="30" rows="5">{{modelo8.descripcion}}</textarea>


                    <input disabled class="form-control" type="file" accept=".pdf, image/*" name="anexo"
                        id="anexoModelo8{{modelo8.id}}">
                    <small class="mb-4">Tamaño máximo: 5 Mb</small>

                    {%if modelo8.anexos %}
                    <strong>Actualmente: </strong><a
                        href="{{modelo8.anexos.url}}">{{modelo8.anexos.name|nombreFile}}</a>
                    {% endif %}

                    <div class="justify-content-end d-flex">
                        <div class="row">
                            <div class="col-12">
                                <button onclick="Modelo8.actualizar({{modelo8.id}})" type="button"
                                    class="btn btn-success  " title="Guardar cambios"><i class="fas fa-save">&nbsp;
                                        Guardar</i></button>
                                <button onclick="Modelo8.editar({{modelo8.id}},false)"
                                    class="btn btn-warning  text-white" type="reset">
                                    <i class="fas fa-ban text-white">&nbsp;Cancelar</i></button>
                                <button type="button" class="btn btn-primary  " onclick="Modelo8.editar({{modelo8.id}})"
                                    title="Editar entrada"><i class="fas fa-edit">&nbsp;Editar</i></button>
                                <button type="button" class="btn btn-danger" onclick="Modelo8.eliminar({{modelo8.id}})"
                                    title="Eliminar entrada"><i class="fas fa-trash-alt">&nbsp;Eliminar</i></button>
                            </div>
                        </div>
                    </div>
                </form>
                <hr>
                {% empty %}
                <div class="alert alert-danger m-4" id="sinEntradas{{numeral.id}}" role="alert">
                    <strong>
                        <p class="text-center ">Sin entradas</p>
                    </strong>
                </div>
                
                <button title="Asignar informacion anterior" type="button" class="btn btn-link"
                    id="infoAnteriorModelo8{{numeral.id}}"
                    onclick="Modelo8.infoAnterior({{numeral.id}})">Importar periodo
                    anterior</button>
                
                {% endfor %}
                <div class="w-100"></div>
                <button onclick="Modelo8.crear({{numeral.id}})" type="button"
                    id="modelo8Crear{{numeral.id}}" class="btn btn-danger"><i class="fas fa-plus-circle"></i>&nbsp;
                    Agregar entrada</button>
                <p style="cursor: pointer;" data-toggle="collapse" data-target="#numeral{{numeral.id}}" class="text-primary link float-right">Cerrar&nbsp;<i
                        class="fa fa-chevron-up"></i></p>
            </div>
            {% endif %}
            <!--Fin Numeral 45-->

            <!--Numeral 46 Modelo9-->
            {% if numeral.orden == 46 %}
            <div>
                {% for modelo9 in numeral_46 %}

                <form id="modelo9{{modelo9.id}}">
                    {% csrf_token %}
                    <div class="form-group row">
                        <label for="" class="col-sm-2">Título: </label>
                        <div class="col-sm-10">
                            <input disabled class="form-control mb-1" type="text" name="titulo"
                                id="tituloModelo9{{modelo9.id}}" value="{{modelo9.titulo}}">
                        </div>
                    </div>

                    <div class="form-group row">
                        <label for="" class="col-sm-2">Autor(es): </label>
                        <div class="col-sm-10">
                            <input disabled class="form-control mb-1" type="text" name="autores"
                                id="autoresModelo9{{modelo9.id}}" value="{{modelo9.autores}}">
                        </div>
                    </div>

                    <div class="form-group row">
                        <label for="" class="col-sm-2">No. Reporte/ID: </label>
                        <div class="col-sm-10">
                            <input disabled class="form-control mb-1" type="text" name="Nreportes"
                                id="NreporteModelo9{{modelo9.id}}" value="{{modelo9.numero_reportes}}">

                        </div>
                    </div>

                    <div class="form-group row">
                        <label for="" class="col-sm-2">Fecha: </label>
                        <div class="col-sm-10">
                            <input disabled class="form-control mb-1" type="text" name="fecha"
                                id="fechaModelo9{{modelo9.id}}" value="{{modelo9.fecha}}">
                        </div>
                    </div>

                    <div class="form-group row">
                        <label for="" class="col-sm-2">URL: </label>
                        <div class="col-sm-10">
                            <input disabled class="form-control mb-1" type="text" name="url"
                                id="urlModelo9{{modelo9.id}}" value="{{modelo9.url}}">
                        </div>
                    </div>

                    <input disabled class="form-control" type="file" accept=".pdf, image/*" name="anexo"
                        id="anexoModelo9{{modelo9.id}}">
                    <small class="mb-4">Tamaño máximo: 5 Mb</small>

                    {%if modelo9.anexos %}
                    <strong>Actualmente: </strong><a
                        href="{{modelo9.anexos.url}}">{{modelo9.anexos.name|nombreFile}}</a>
                    {% endif %}


                    <div class="justify-content-end d-flex">
                        <div class="row">
                            <div class="col-12">
                                <button onclick="Modelo9.actualizar({{modelo9.id}})" type="button"
                                    class="btn btn-success" title="Guardar cambios"><i class="fas fa-save">&nbsp;
                                        Guardar</i></button>
                                <button onclick="Modelo9.editar({{modelo9.id}},false)"
                                    class="btn btn-warning  text-white" type="reset">
                                    <i class="fas fa-ban text-white"></i>&nbsp;Cancelar</i></button>
                                <button type="button" class="btn btn-primary" onclick="Modelo9.editar({{modelo9.id}})"
                                    id="{{modelo9.id}}" title="Editar entrada"><i
                                        class="fas fa-edit">&nbsp;Editar</i></button>
                                <button type="button" class="btn btn-danger" onclick="Modelo9.eliminar({{modelo9.id}})"
                                    title="Eliminar entrada"><i class="fas fa-trash-alt">&nbsp;Eliminar</i></button>
                            </div>
                        </div>
                    </div>

                </form>
                <hr>
                {% empty %}
                <div class="alert alert-danger m-4" id="sinEntradas{{numeral.id}}" role="alert">
                    <strong>
                        <p class="text-center ">Sin entradas</p>
                    </strong>
                </div>
                {% endfor %}
                <button onclick="Modelo9.crear({{numeral.id}})" type="button"
                    id="modelo9Crear{{numeral.id}}" class="btn btn-danger"><i class="fas fa-plus-circle"></i>&nbsp;
                    Agregar entrada</button>
                <p style="cursor: pointer;" data-toggle="collapse" data-target="#numeral{{numeral.id}}" class="text-primary link float-right">Cerrar&nbsp;<i
                        class="fa fa-chevron-up"></i></p>
            </div>
            {% endif %}
            <!--numeral 46 Modelo9 -->
        </div>
    </div>
    {% endfor %}
</div>

{% block JsCode %}

<script>

    function glosario() {
        Swal.fire({
            title: 'Glosario',
            html: `<table class="table table-bordered">
                        <thead>
                            <tr>
                                <th class="text-center" colspan="2">III. DESARROLLO TECNOLÓGICO E INNOVACIÓN(agregar
                                    patentes en REGISTRO)</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for glosario in glosario %}
                            <tr>
                                <td width=50%><small>{{ glosario.numerales|safe }}</small></td>
                                <td width=50%><small>{{ glosario.explicacion|safe }}</small></td>
                            </tr>
                            {% endfor %}

                        </tbody>
                    </table>`,
            width: 880,
            confirmButtonText: 'Cerrar',
        });
    }

    //Modelo 7
    var Modelo7 = {
        editar: function (id, activar = true) {
            if (activar) {
                $("#autoresModelo7" + id).prop("disabled", false);
                $("#descripcionModelo7" + id).prop("disabled", false);
                $("#urlModelo7" + id).prop("disabled", false);
                $("#anexoModelo7" + id).prop("disabled", false);
            }
            else {
                $("#autoresModelo7" + id).prop("disabled", true);
                $("#descripcionModelo7" + id).prop("disabled", true);
                $("#urlModelo7" + id).prop("disabled", true);
                $("#anexoModelo7" + id).prop("disabled", true);
            }

            timer.reset(540000);
        },
        actualizar: function (id) {
            var formData = new FormData(document.getElementById("modelo7" + id))
            formData.append("id", id);

            $.ajax({
                url: '{% url "reportes:actualizar-modelo7" %}',
                type: "post",
                data: formData,
                enctype: "multipart/form-data",
                cache: false,
                contentType: false,
                processData: false,
                dataType: 'html',
            })
                .done(function () {
                    Modelo7.editar(id, false);
                    notificacion.actualizado();
                    timer.reset(540000);
                })
                .fail(function (response) {
                    notificacion.error(response);
                });
        },
        crear: function (numeral) {
            var periodo = $("#periodoActual").val();
            $.ajax({
                type: "GET",
                url: '{% url "reportes:crear-modelo7" %}',
                data: {
                    "numeral": numeral,
                    "periodo": periodo,
                },
                dataType: "Json",
            })
                .done(function (response) {
                    $("#sinEntradas" + numeral).remove()   
                    $("#infoAnteriorModelo7" + numeral).remove();
                    Modelo7.dibujar(response)
                    notificacion.creado()
                    timer.reset(540000);
                })
                .fail(function (response) {
                    notificacion.error(response);
                });
        },
        dibujar: function (response) {
            $("#modelo7Crear" + `${response.numeral}`).before(
                `<form id="modelo7${response.id}" enctype="multipart/form-data">
                    <div class="pt-4 pr-4 pl-4">
                        {% csrf_token %}
                        <div class="form-group row">
                            <label for="" class="col-sm-2">Autor(es): </label>
                            <div class="col-sm-10">
                                <input class="form-control mb-1" type="text" name="autores" id="autoresModelo7${response.id}">
                            </div>
                        </div>

                        <div class="form-group row">
                            <label for="" class="col-sm-2">URL: </label>
                            <div class="col-sm-10">
                                <input class="form-control mb-1" type="text" name="url" id="urlModelo7${response.id}">
                            </div>
                        </div>

                        <label for="">Descripción</label>
                        <textarea class="form-control mb-1" name="descripcion" id="descripcionModelo7${response.id}" cols="30"
                            rows="5"></textarea>

                        <input class="form-control" type="file" accept=".pdf, image/*" name="anexo" id="anexoModelo7${response.id}">
                        <small class="mb-4">Tamaño máximo: 5 Mb</small>

                        <div class="justify-content-end d-flex">
                            <div class="row">
                                <div class="col-12">
                                    <button onclick="Modelo7.actualizar(${response.id})" type="button" class="btn btn-success"
                                        title="Guardar cambios"><i class="fas fa-save">&nbsp; Guardar</i></button>
                                    <button onclick="Modelo7.editar(${response.id},false)" class="btn btn-warning  text-white"
                                        type="reset">
                                        <i class="fas fa-ban text-white"></i>&nbsp;Cancelar</i></button>
                                    <button type="button" class="btn btn-primary" onclick="Modelo7.editar(${response.id})"
                                        title="Editar entrada"><i class="fas fa-edit">&nbsp;Editar</i></button>
                                    <button type="button" class="btn btn-danger" onclick="Modelo7.eliminar(${response.id})"
                                        title="Eliminar entrada"><i class="fas fa-trash-alt">&nbsp;Eliminar</i></button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <hr>
                </form>


                `);
        },
        eliminar: function (id) {
            notificacion.eliminar(function () {
                var csrfmiddlewaretoken = $('input[name="csrfmiddlewaretoken"]').val().trim();
                $.ajax({
                    url: '{% url "reportes:eliminar-modelo7" %}',
                    type: "POST",
                    data: {
                        'id': id,
                        'csrfmiddlewaretoken': csrfmiddlewaretoken,
                    },
                    dataType: 'json',
                })
                    .done(function () {
                        $("#modelo7" + id).remove();
                        $("#modelo7Crear" + id).remove();
                        timer.reset(540000);
                    })
                    .fail(function (response) {
                        notificacion.error(response)
                    });
            })
        },
        infoAnterior: function (numeral) {
            var periodo = $("#periodoActual").val();
            $.ajax({
                type: "GET",
                url: "{% url 'reportes:info-anteriorModelo7' %}",
                data: {
                    'periodo': periodo,
                    'numeral': numeral,
                },
                dataType: "json",
            })
                .done(function (response) {
                    if(response.autores.length != 0){
                        $('#sinEntradas' + numeral).remove()
                        for (var i = 0; i < response.autores.length; i++) {
                            data = {}
                            data['numeral'] = numeral;
                            data['id'] = response.ids[i];

                            Modelo7.dibujar(data)
                            $("#autoresModelo7" + response.ids[i]).val(response.autores[i]);
                            $("#descripcionModelo7" + response.ids[i]).val(response.descripcion[i]);
                            $("#urlModelo7" + response.ids[i]).val(response.url[i]);
                        }
                        $("#infoAnteriorModelo7" + numeral).remove();
                        notificacion.importarPeriodo();
                        timer.reset(540000);
                    }
                    else{
                        notificacion.errorImportarPeriodo();
                    }
                    
                })
                .fail(function (response) {
                    notificacion.error(response);
                });
        }
    }
    //Fin modelo7

    //Modelo 8
    var Modelo8 = {
        editar: function (id, activar = true) {
            if (activar) {
                $("#nombreModelo8" + id).prop("disabled", false);
                $("#descripcionModelo8" + id).prop("disabled", false);
                $("#participantesModelo8" + id).prop("disabled", false);
                $("#financiamientoModelo8" + id).prop("disabled", false);
                $("#anexoModelo8" + id).prop("disabled", false);
            }
            else {
                $("#nombreModelo8" + id).prop("disabled", true);
                $("#descripcionModelo8" + id).prop("disabled", true);
                $("#participantesModelo8" + id).prop("disabled", true);
                $("#financiamientoModelo8" + id).prop("disabled", true);
                $("#anexoModelo8" + id).prop("disabled", true);
            }
            timer.reset(540000);
        },
        actualizar: function (id) {
            var formData = new FormData(document.getElementById("modelo8" + id))
            formData.append("id", id);

            $.ajax({
                url: '{% url "reportes:actualizar-modelo8" %}',
                type: "post",
                data: formData,
                enctype: "multipart/form-data",
                cache: false,
                contentType: false,
                processData: false,
                dataType: 'html',
            })
                .done(function () {
                    Modelo8.editar(id, false);
                    notificacion.actualizado();
                    timer.reset(540000);
                })
                .fail(function (resonse) {
                    notificacion.error(response)
                });
        },
        crear: function (numeral) {
            var periodo = $("#periodoActual").val();
            $.ajax({
                type: "GET",
                url: '{% url "reportes:crear-modelo8" %}',
                data: {
                    "numeral": numeral,
                    "periodo": periodo,
                },
                dataType: "Json",
            })
                .done(function (response) {
                    $("#sinEntradas" + numeral).remove() 
                    $("#infoAnteriorModelo8" + numeral).remove();
                    Modelo8.dibujar(response)
                    notificacion.creado()
                    timer.reset(540000);
                })
                .fail(function (response) {
                    notificacion.error(response);
                });
        },
        dibujar: function (response) {
            $("#modelo8Crear" + `${response.numeral}`).before(
                `<form id="modelo8${response.id}" enctype="multipart/form-data">
                    <div class="pt-4 pr-4 pl-4">

                        {% csrf_token %}
                        <div class="form-group row">
                            <label for="" class="col-sm-2">Nombre: </label>
                            <div class="col-sm-10">
                                <input class="form-control mb-1" type="text" name="nombre" id="nombreModelo8${response.id}">
                            </div>
                        </div>

                        <div class="form-group row">
                            <label for="" class="col-sm-2">Participante(s): </label>
                            <div class="col-sm-10">
                                <input class="form-control mb-1" type="text" name="participantes"
                                    id="participantesModelo8${response.id}">
                            </div>
                        </div>

                        <div class="form-group row">
                            <label for="" class="col-sm-2">Financiamiento: </label>
                            <div class="col-sm-10">
                                <input class="form-control mb-1" type="text" name="financiamiento"
                                    id="financiamientoModelo8${response.id}">
                            </div>
                        </div>

                        <label for="">Descripción: </label>
                        <textarea class="form-control mb-1" name="descripcion" id="descripcionModelo8${response.id}" cols="30"
                            rows="5"></textarea>


                        <input class="form-control" type="file" accept=".pdf, image/*" name="anexo" id="anexoModelo8${response.id}">
                        <small class="mb-4">Tamaño máximo: 5 Mb</small>

                        <div class="justify-content-end d-flex">
                            <div class="row">
                                <div class="col-12">
                                    <button onclick="Modelo8.actualizar(${response.id})" type="button" class="btn btn-success  "
                                        title="Guardar cambios"><i class="fas fa-save">&nbsp;
                                            Guardar</i></button>
                                    <button onclick="Modelo8.editar(${response.id},false)" class="btn btn-warning  text-white"
                                        type="reset">
                                        <i class="fas fa-ban text-white"></i>&nbsp;Cancelar</i></button>
                                    <button type="button" class="btn btn-primary  " onclick="Modelo8.editar(${response.id})"
                                        id="{{modelo8.id}}" title="Editar entrada"><i class="fas fa-edit">&nbsp;Editar</i></button>
                                    <button type="button" class="btn btn-danger" onclick="Modelo8.eliminar(${response.id})"
                                        title="Eliminar entrada"><i class="fas fa-trash-alt">&nbsp;Eliminar</i></button>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
                <hr>`);
        },
        eliminar: function (id) {
            notificacion.eliminar(function () {
                var csrfmiddlewaretoken = $('input[name="csrfmiddlewaretoken"]').val().trim();
                $.ajax({
                    url: '{% url "reportes:eliminar-modelo8" %}',
                    type: "POST",
                    data: {
                        'id': id,
                        'csrfmiddlewaretoken': csrfmiddlewaretoken,
                    },
                    dataType: 'json',
                })
                    .done(function () {
                        $("#modelo8" + id).remove();
                        $("#modelo8Crear" + id).remove();
                        timer.reset(540000);
                    })
                    .fail(function (response) {
                        notificacion.error(response);
                    });
            });
        },
        infoAnterior: function (numeral) {
            var periodo = $("#periodoActual").val();
            $.ajax({
                type: "GET",
                url: "{% url 'reportes:info-anteriorModelo8' %}",
                data: {
                    'periodo': periodo,
                    'numeral': numeral,
                },
                dataType: "json",
            })
                .done(function (response) {
                    if(response.nombre.length != 0){
                        $('#sinEntradas' + numeral).remove()
                        for (var i = 0; i < response.nombre.length; i++) {
                            data = {}
                            data['numeral'] = numeral;
                            data['id'] = response.ids[i];

                            Modelo8.dibujar(data)
                            $("#nombreModelo8" + response.ids[i]).val(response.nombre[i]);
                            $("#descripcionModelo8" + response.ids[i]).val(response.descripcion[i]);
                            $("#participantesModelo8" + response.ids[i]).val(response.participantes[i]);
                            $("#financiamientoModelo8" + response.ids[i]).val(response.financiamiento[i]);
                        }
                        $("#infoAnteriorModelo8" + numeral).remove();
                        notificacion.importarPeriodo();
                        timer.reset(540000);
                    }
                    else{
                        notificacion.errorImportarPeriodo();
                    }
                    
                })
                .fail(function (response) {
                    notificacion.error(response);
                });
        }
    }
    //Fin modelo8

    //Modelo 9
    var Modelo9 = {
        editar: function (id, activar = true) {
            if (activar) {
                $("#tituloModelo9" + id).prop("disabled", false);
                $("#autoresModelo9" + id).prop("disabled", false);
                $("#NreporteModelo9" + id).prop("disabled", false);
                $("#fechaModelo9" + id).prop("disabled", false);
                $("#urlModelo9" + id).prop("disabled", false);
                $("#revista_publicacionModelo9" + id).prop("disabled", false);
                $("#anexoModelo9" + id).prop("disabled", false);
            }
            else {
                $("#tituloModelo9" + id).prop("disabled", true);
                $("#autoresModelo9" + id).prop("disabled", true);
                $("#NreporteModelo9" + id).prop("disabled", true);
                $("#fechaModelo9" + id).prop("disabled", true);
                $("#urlModelo9" + id).prop("disabled", true);
                $("#revista_publicacionModelo9" + id).prop("disabled", true);
                $("#anexoModelo9" + id).prop("disabled", true);
            }

            timer.reset(540000);
        },
        actualizar: function (id) {
            var formData = new FormData(document.getElementById("modelo9" + id))
            formData.append("id", id);

            $.ajax({
                url: '{% url "reportes:actualizar-modelo9" %}',
                type: "post",
                data: formData,
                enctype: "multipart/form-data",
                cache: false,
                contentType: false,
                processData: false,
                dataType: 'html',
            })
                .done(function () {
                    Modelo9.editar(id, false);
                    notificacion.actualizado();
                    timer.reset(540000);
                })
                .fail(function (response) {
                    notificacion.error(response);
                });
        },
        crear: function (numeral) {
            var periodo = $("#periodoActual").val();
            $.ajax({
                type: "GET",
                url: '{% url "reportes:crear-modelo9" %}',
                data: {
                    "numeral": numeral,
                    "periodo": periodo,
                },
                dataType: "Json",
            })
                .done(function (response) {
                    $("#sinEntradas" + numeral).remove()
                    $("#infoAnteriorModelo9" + numeral).remove()
                    Modelo9.dibujar(response)
                    notificacion.creado()
                    timer.reset(540000);
                })
                .fail(function (response) {
                    notificacion.error(response);
                });
        },
        dibujar: function (response) {
            $("#modelo9Crear" + `${response.numeral}`).before(
                `<form id="modelo9${response.id}" enctype="multipart/form-data">
                    <div class="pt-4 pr-4 pl-4">

                        {% csrf_token %}
                        <div class="form-group row">
                            <label for="" class="col-sm-2">Título: </label>
                            <div class="col-sm-10">
                                <input class="form-control mb-1" type="text" name="titulo" id="tituloModelo9${response.id}">
                            </div>
                        </div>

                        <div class="form-group row">
                            <label for="" class="col-sm-2">Autor(es): </label>
                            <div class="col-sm-10">
                                <input class="form-control mb-1" type="text" name="autores" id="autoresModelo9${response.id}">
                            </div>
                        </div>

                        <div class="form-group row">
                            <label for="" class="col-sm-2">No. Reporte/ID: </label>
                            <div class="col-sm-10">
                                <input class="form-control mb-1" type="text" name="Nreportes" id="NreporteModelo9${response.id}">
                            </div>
                        </div>

                        <div class="form-group row">
                            <label for="" class="col-sm-2">Fecha: </label>
                            <div class="col-sm-10">
                                <input class="form-control mb-1" type="text" name="fecha" id="fechaModelo9${response.id}">
                            </div>
                        </div>

                        <div class="form-group row">
                            <label for="" class="col-sm-2">URL: </label>
                            <div class="col-sm-10">
                                <input class="form-control mb-1" type="text" name="url" id="urlModelo9${response.id}">
                            </div>
                        </div>

                        <input class="form-control" type="file" accept=".pdf, image/*" name="anexo" id="anexoModelo9${response.id}">
                        <small class="mb-4">Tamaño máximo: 5 Mb</small>

                        <div class="justify-content-end d-flex">
                            <div class="row">
                                <div class="col-12">
                                    <button onclick="Modelo9.actualizar(${response.id})" type="button" class="btn btn-success"
                                        title="Guardar cambios"><i class="fas fa-save">&nbsp;
                                            Guardar</i></button>
                                    <button onclick="Modelo9.editar(${response.id},false)" class="btn btn-warning  text-white"
                                        type="reset"><i class="fas fa-ban text-white"></i>&nbsp;Cancelar</i></button>
                                    <button type="button" class="btn btn-primary" onclick="Modelo9.editar(${response.id})"
                                        id="{{modelo9.id}}" title="Editar entrada"><i class="fas fa-edit">&nbsp;Editar</i></button>
                                    <button type="button" class="btn btn-danger" onclick="Modelo9.eliminar(${response.id})"
                                        title="Eliminar entrada"><i class="fas fa-trash-alt">&nbsp;Eliminar</i></button>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
                <hr>`)
        },
        eliminar: function (id) {
            notificacion.eliminar(function () {
                var csrfmiddlewaretoken = $('input[name="csrfmiddlewaretoken"]').val().trim();
                $.ajax({
                    url: '{% url "reportes:eliminar-modelo9" %}',
                    type: "POST",
                    data: {
                        'id': id,
                        'csrfmiddlewaretoken': csrfmiddlewaretoken,
                    },
                    dataType: 'json',
                })
                    .done(function (response) {
                        $("#modelo9" + id).remove();
                        $("#modelo9Crear" + id).remove();
                        timer.reset(540000);
                    })
                    .fail(function (response) {
                        notificacion.error(response);
                    });
            })
        },
        infoAnterior: function (numeral) {
            var periodo = $("#periodoActual").val();
            $.ajax({
                type: "GET",
                url: "{% url 'reportes:info-anteriorModelo9' %}",
                data: {
                    'periodo': periodo,
                    'numeral': numeral,
                },
                dataType: "json",
            })
                .done(function (response) {
                    if(response.titulo.length != 0){
                        $('#sinEntradas' + numeral).remove()
                        for (var i = 0; i < response.titulo.length; i++) {
                            data = {}
                            data['numeral'] = numeral;
                            data['id'] = response.ids[i];

                            Modelo9.dibujar(data)
                            $("#tituloModelo9" + response.ids[i]).val(response.titulo[i]);
                            $("#autoresModelo9" + response.ids[i]).val(response.autores[i]);
                            $("#NreporteModelo9" + response.ids[i]).val(response.numero_reportes[i]);
                            $("#fechaModelo9" + response.ids[i]).val(response.fecha[i]);
                            $("#urlModelo9" + response.ids[i]).val(response.url[i]);
                            $("#revista_publicacionModelo9" + response.ids[i]).val(response.revista_publicacion[i]);
                        }

                        $("#infoAnteriorModelo9" + numeral).remove()
                        notificacion.importarPeriodo();
                        timer.reset(540000);
                    }
                    else{
                        notificacion.errorImportarPeriodo();
                    }

                })
                .fail(function (response) {
                    notificacion.error(response);
                });
        }
    }
//Fin modelo9
</script>
{% endblock %}