{% load name %}
{% load static %}
<div class="card" id="numeral">
    {% for numeral in numeralName %}
    <div class="card-header">

        <div data-toggle="collapse" data-target="#numeral{{numeral.id}}" onclick="icono({{numeral.id}})">
            <span class="text-primary" style="cursor: pointer;">{{numeral}}&nbsp;<i
                    class="fa fa-chevron-down numeral{{numeral.id}}"></i></span>
            <i onclick="glosario()" style="font-size: 30px; cursor: pointer;" data-toggle="modal"
                class="far fa-question-circle float-right"></i>
        </div>
    </div>

    <div id="numeral{{numeral.id}}" class="collapse" data-parent="#numeral">

        <!--modelo 14 numeral 61-->
        {% if numeral.orden == 61 %}
        <table id="tabla1" class="table text-center dt-responsive" style="font-size: 14px; width: 100%;">
            {% csrf_token %}
            <thead class="thead-light">
                <tr>
                    <th>Telescopio, instrumento, infraestructura</th>
                    <th>URL:</th>
                    <th>Descripción:</th>
                    <th>Anexo</th>
                    <th>Acción</th>
                </tr>
            </thead>
            <tbody>

                {% for modelo14 in numeral_61 %}
                <tr class="modelo14-{{modelo14.id}} ">
                    <td id="telescopio{{modelo14.id}}">{{modelo14.telescopio_instrumento_infra}}</td>
                    <td width=50px;>{{modelo14.url}}</td>
                    <td width=350px;>{{modelo14.descripcion|truncatechars:125}}</td>
                    <td>{{modelo14.anexos.name|nombreFile}}</td>
                    <td><button type="button" class="btn btn-primary" title="Editar entrada">
                            <i class="fas fa-edit"></i></button>
                        <button type="button" class="btn btn-danger" onclick="options.eliminar({{modelo14.id}})"
                            title="Eliminar entrada">
                            <i class="fas fa-trash-alt"></i></button>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        <button onclick="options.crear({{numeral.id}})" type="button" class="btn btn-danger ml-4 mb-2">
            <i class="fas fa-plus-circle"></i>&nbsp; Agregar entrada</button>
        {% endif %}
        <!--Fin Numeral 61 Modelo14-->

    </div>

    {% endfor %}
</div>

{% block JsCode %}
<!--Data table -->
<script src="{% static 'DataTables/datatables.min.js'%}"></script>
<link rel="stylesheet" href="{% static 'DataTables/datatables.min.css'%}">
<script>
    var t = $('#tabla1').DataTable({
        "language": {
            "lengthMenu": "Mostrar _MENU_ entradas",
            "zeroRecords": "Sin registros",
            "info": "Mostrando entradas del _START_ al _END_ de un total de _TOTAL_ registros",
            "infoEmpty": "Sin resultados",
            "infoFiltered": "(filtrado de un total de _MAX_ entradas",
            "sSearch": "Buscar:",
            "oPaginate": {
                "sFirst": "Primero",
                "sLast": "Ultimo",
                "sNext": "Siguiente",
                "sPrevious": "Anterior",
            },
            "sProcessing": "Procesando..."
        },
        dom: 'tp',
        "pageLength": 5,
        "lengthMenu": [[5, 10, 20, 25, 50, -1], [5, 10, 20, 25, 50, "Todos"]],
        "order": [[0, "desc"]],
        responsive: true
    }); //Fin Biblioteca personal Data Table
</script>
<script>

    function glosario() {
        $("#accionModal2").text("Glosario");
        $("#textoModal2").html(`<table class="table table-bordered">
                        <thead>
                            <tr>
                                <th class="text-center" colspan="2">V. INFORMACIÓN ADICIONAL</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for glosario in glosario %}
                            <tr>
                                <td width=50%>{{ glosario.numerales|safe }}</td>
                                <td width=50%>{{ glosario.explicacion|safe }}</td>
                            </tr>
                            {% endfor %}

                        </tbody>
                    </table>`) //¿Desea eliminar este Item?
        $("#icono2").html("")
        $("#footer2").html(`<button type="button" class="btn btn-danger btn-block" data-dismiss="modal">Cerrar</button>`)
        $('#modalDinamico2').modal('show'); // abrir
    }
    //Modelo 14
    var Modelo14 = {
        editar: function (modelo, activar = true, ) {

            var form = $('form#' + modelo).find('input, textarea');

            if (activar) {
                $.each(form, function (indexInArray, valueOfElement) {
                    $(valueOfElement).prop('disabled', false);
                });
            }
            else {
                $.each(form, function (indexInArray, valueOfElement) {
                    $(valueOfElement).prop('disabled', true);
                });
            }
            timer.reset(540000);
        },
        actualizar: function (id) {

            var formData = new FormData(document.getElementById("modelo14" + id))
            formData.append("id", id);

            $.ajax({
                url: '{% url "reportes:actualizar-modelo14"  %}',
                type: "post",
                data: formData,
                enctype: "multipart/form-data",
                cache: false,
                contentType: false,
                processData: false,
                dataType: 'html',
            })
                .done(function (response) {
                    Modelo14.editar('modelo14' + id, false);
                    notificacion.actualizado();
                    timer.reset(540000);
                })
                .fail(function (response) {
                    notificacion.error(response);
                });
        },
        crear: function (numeral, periodo) {
            $.ajax({
                type: "GET",
                url: '{% url "reportes:crear-modelo14" %}',
                data: {
                    "numeral": numeral,
                    "periodo": periodo,
                },
                dataType: "Json",
            })
                .done(function (response) {
                    $("#sinEntradas" + numeral).remove()
                    $("#modelo14Crear" + numeral).after(`
                <button onclick="Modelo14.Crear(${numeral},${periodo})" type="button"
                    id="modelo14Crear${numeral}" class="btn btn-danger">
                    <i class="fas fa-plus-circle"></i>Agregar entrada</button>
                `)
                    $("#modelo14Crear" + numeral).remove()
                    Modelo14.dibujar(response);
                    timer.reset(540000);
                })
                .fail(function (response) {
                    notificacion.error(response);
                });
        },
        dibujar: function (data) {
            $("#modelo14Crear" + `${data.numeral}`).before(
                `<form id="modelo14${data.id}" type="post" enctype="multipart/form-data">
                    <div class="pt-4 pr-4 pl-4">
                        {% csrf_token %}
                        <div class="form-group row">
                            <label for="telescopio" class="col-sm-2 col-form-label">Telescopio, instrumento,
                                infraestructura:</label>
                            <div class="col-sm-10">
                                <input class="form-control mb-1" type="text" name="telescopio" id="telescopioModelo14${data.id}">
                            </div>
                        </div>

                        <div class="form-group row">
                            <label for="" class="col-sm-2 col-form-label">URL: </label>
                            <div class="col-sm-10">
                                <input class="form-control mb-1" type="text" name="url" id="urlModelo14${data.id}">
                            </div>
                        </div>

                        <label for="">Descripción: </label>
                        <textarea class="form-control mb-1" name="descripcion" id="descripcionModelo14${data.id}" cols="30" rows="5"></textarea>

                        <input class="form-control" type="file" name="anexo" id="anexoModelo14${data.id}">
                        <small class="mb-4">Tamaño máximo: 5 Mb</small>

                        <div class="justify-content-end d-flex">
                            <div class="row">
                                <div class="col-12">
                                    <button onclick="Modelo14.actualizar(${data.id})" type="button" class="btn btn-success"title="Guardar cambios">
                                        <i class="fas fa-save">&nbsp;Guardar</i>
                                    </button>

                                    <button onclick="Modelo14.editar('modelo14${data.id}',false)" class="btn btn-warning text-white" type="reset">
                                        <i class="fas fa-ban text-white">&nbsp;Cancelar</i>
                                    </button>

                                    <button type="button" class="btn btn-primary" onclick="Modelo14.editar('modelo14${data.id}')" title="Editar entrada">
                                        <i class="fas fa-edit">&nbsp;Editar</i>
                                    </button>

                                    <button type="button" class="btn btn-danger" onclick="Modelo14.eliminar(${data.id})" title="Eliminar entrada">
                                        <i class="fas fa-trash-alt">&nbsp;Eliminar</i>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
                <hr>`);
        },
        eliminar: function (id) {
            notificacion.eliminar(function () {
                var csrfmiddlewaretoken = $('input[name="csrfmiddlewaretoken"]').val().trim();
                $.ajax({
                    url: '{% url "reportes:eliminar-modelo14" %}',
                    type: "POST",
                    data: {
                        'id': id,
                        'csrfmiddlewaretoken': csrfmiddlewaretoken,
                    },
                    dataType: 'json',
                    success: function (data) {
                        if (data.deleted) {

                        }
                    }
                })
                    .done(function (response) {
                        $("#modelo14" + id).remove();
                        $("#modelo14Crear" + id).remove();
                        timer.reset(540000);
                    })
                    .fail(function (response) {
                        notificacion.error(response);
                    });
            });
        },
        infoAnterior: function (periodo, numeral) {

            $.ajax({
                type: "GET",
                url: "{% url 'reportes:info-anteriorModelo14' %}",
                data: {
                    'periodo': periodo,
                    'numeral': numeral,
                },
                dataType: "json",
            })
                .done(function (response) {
                    $('#sinEntradas' + numeral).remove()
                    for (var i = 0; i < response.descripcion.length; i++) {
                        data = {}
                        data['numeral'] = numeral;
                        data['id'] = response.ids[i];

                        dibujarmodelo14(data)
                        $("#telescopioModelo14" + response.ids[i]).val(response.telescopio[i]);
                        $("#urlModelo14" + response.ids[i]).val(response.urls[i]);
                        $("#descripcionModelo14" + response.ids[i]).val(response.descripcion[i]);
                    }

                    $("#infoAnteriorModelo14" + numeral).prop('disabled', 'true');
                    timer.reset(540000);
                })
                .fail(function (response) {
                    notificacion.error(response);
                });
        }
    }
    //Fin modelo14
    var options = {
        editar: id => {
            $.ajax({
                type: "GET",
                url: "{% url 'reportes:prueba' 3 %}",
                dataType: "html",
                success: function (response) {
                    Swal.fire({
                        title: 'Editar entrada',
                        html: `${response}`,
                        showCancelButton: true,
                        cancelButtonColor: '#d33',
                        confirmButtonText: '<i class="fas fa-check"></i> Guardar',
                        cancelButtonText: '<i class="fas fa-times"></i> Cancelar',

                    })
                }
            });
            /*
            Swal.fire({
                title: 'Editar entrada',
                html: `<style>label{text-align: left !important;}</style>
                        {{form}}
                        
                `,
                showCancelButton: true,
                cancelButtonColor: '#d33',
                confirmButtonText: '<i class="fas fa-check"></i> Guardar',
                cancelButtonText: '<i class="fas fa-times"></i> Cancelar',

            })
           var td = $(".modelo14-"+id);
           var elementos = $(td).find('td');
           
           $("#id_telescopio_instrumento_infra").val($(elementos[0]).text());
           $("#id_url").val($(elementos[1]).text());
           $("#id_descripcion").val($(elementos[2]).text());
           $("#idanexo").val($(elementos[3]).text());
           */

        },
        eliminar: id => {
            notificacion.eliminar(function () {

            })
        },
        crear: (numeral) => {
            Swal.fire({
                title: 'Crear entrada',
                html: `<form id="modelo14">{{form}}</form>`,
                showCancelButton: true,
                cancelButtonColor: '#d33',
                confirmButtonText: '<i class="fas fa-check"></i> Crear',
                cancelButtonText: '<i class="fas fa-times"></i> Cancelar',
                preConfirm: function () {
                    return new Promise((resolve, reject) => {
                        var form = $("#modelo14")
                        console.log(form[0]);
                        
                        var formdata = new Formdata(form[0]);
                        //var formData = new FormData(document.getElementById("actualizarBibliotecaForm"))
                        var nameFile = "";
                        var anexo = $("#id_anexos")[0].files;
                        var telescopio = $("#id_telescopio_instrumento_infra").val();
                        var url = $("#id_url").val();
                        var descripcion = $("#id_descripcion").val();
                        var periodo = $('select[name="periodoActual"]').val().trim();

                        if (anexo.length != 0) {
                            nameFile = anexo[0].name
                        }

                        $.ajax({
                            type: "GET",
                            url: '{% url "reportes:crear-modelo14" %}',
                            data: formdata,
                            dataType: "JSON",
                        })
                            .done(function (response) {
                                console.log('pase');
                                t.row.add([telescopio, url, descripcion, nameFile,
                                    `<button type="button" class="btn btn-primary" onclick="options.editar(${response.id})" title="Editar entrada">
                                <i class="fas fa-edit"></i></button>
                            <button type="button" class="btn btn-danger" onclick="options.eliminar(${response.id})" title="Eliminar entrada">
                                <i class="fas fa-trash-alt"></i></button>`,
                                ]).draw(false);
                            })
                            .fail(function (response) {
                                console.log('error');
                                notificacion.error(response);
                            });
                    });
                }

            })
        }
    }
</script>
{% endblock %}