{% load name %}
{% load static %}
<div class="card" id="numeral">
    {% for numeral in numeralName %}
    <div class="card-header">
            <span onclick="icono({{numeral.id}})" data-toggle="collapse" data-target="#numeral{{numeral.id}}" class="text-primary" style="cursor: pointer;">{{numeral}}&nbsp;<i
                    class="fa fa-chevron-down numeral{{numeral.id}}"></i></span>
            <i onclick="glosario()" style="font-size: 30px; cursor: pointer;" data-toggle="modal"
                class="far fa-question-circle float-right"></i>
    </div>

    <div id="numeral{{numeral.id}}" class="collapse" data-parent="#numeral">
        <div class="card-body" style="font-size:14px">
            <!--modelo 14 numeral 61-->
            {% if numeral.orden == 61 %}
            <div>
                {% for modelo14 in numeral_61 %}
                <form class="pt-2 pr-4 pl-4" id="modelo14{{modelo14.id}}" name="numeral61" type="post"
                    enctype="multipart/form-data">

                    <div class="form-group">
                        {% csrf_token %}
                        <div class="form-group row">
                            <label for="telescopio" class="col-sm-2 col-form-label">Telescopio, instrumento,
                                infraestructura:</label>
                            <div class="col-sm-10">
                                <input disabled class="form-control mb-1" type="text" name="telescopio"
                                    id="telescopioModelo14{{modelo14.id}}"
                                    value="{{modelo14.telescopio_instrumento_infra}}">
                            </div>
                        </div>


                        <div class="form-group row">
                            <label for="" class="col-sm-2 col-form-label">URL: </label>
                            <div class="col-sm-10">
                                <input disabled class="form-control mb-1" type="text" name="url"
                                    id="urlModelo14{{modelo14.id}}" value="{{modelo14.url}}">
                            </div>

                        </div>

                        <label for="">Descripción: </label>
                        <textarea disabled class="form-control mb-1" name="descripcion"
                            id="descripcionModelo14{{modelo14.id}}" cols="30"
                            rows="5">{{modelo14.descripcion}}</textarea>


                        <input disabled class="form-control" accept=".pdf, image/*" type="file" name="anexo"
                            id="anexoModelo14{{modelo14.id}}">
                        <small class="mb-2">Tamaño máximo: 5 Mb</small>

                        {%if modelo14.anexos %}
                        <strong>Actualmente: </strong><a
                            href="{{modelo14.anexos.url}}">{{modelo14.anexos.name|nombreFile}}</a>
                        {% endif %}

                        <div class="justify-content-end d-flex">
                            <div class="row">
                                <div class="col-12">
                                    <button onclick="Modelo14.actualizar({{modelo14.id}})" type="button"
                                        class="btn btn-success" title="Guardar cambios">
                                        <i class="fas fa-save">&nbsp;Guardar</i>
                                    </button>

                                    <button onclick="Modelo14.editar({{modelo14.id}}, false)"
                                        class="btn btn-warning text-white" type="reset">
                                        <i class="fas fa-ban text-white">&nbsp;Cancelar</i>
                                    </button>

                                    <button type="button" class="btn btn-primary"
                                        onclick="Modelo14.editar({{modelo14.id}})" title="Editar entrada">
                                        <i class="fas fa-edit">&nbsp;Editar</i>
                                    </button>

                                    <button type="button" class="btn btn-danger"
                                        onclick="Modelo14.eliminar({{modelo14.id}})" title="Eliminar entrada">
                                        <i class="fas fa-trash-alt">&nbsp;Eliminar</i>
                                    </button>
                                </div>
                            </div>
                        </div>

                    </div>
                </form>
                <hr>
                {% empty %}
                <div class="alert alert-danger m-4" id="sinEntradas{{numeral.id}}" role="alert">
                    <strong><p class="text-center ">Sin entradas</p></strong>
                </div>
                <button title="Asignar informacion anterior" type="button" class="btn btn-link"
                    id="infoAnteriorModelo14{{numeral.id}}"
                    onclick="Modelo14.infoAnterior({{periodoActual.id}}, {{numeral.id}})">Importar periodo
                    anterior</button>
                {% endfor %}
                <div class="w-100 mt-2"></div>
                <button onclick="Modelo14.crear({{numeral.id}},{{periodoActual.id}})" type="button"
                id="modelo14Crear{{numeral.id}}" class="btn btn-danger"><i class="fas fa-plus-circle"></i>&nbsp;
                Agregar entrada</button>

                <p style="cursor: pointer;" data-toggle="collapse" data-target="#numeral{{numeral.id}}" class="text-primary  float-right">Cerrar&nbsp;<i
                    class="fa fa-chevron-up"></i></p>
            </div>

            {% endif %}
            <!--Fin Numeral 61 Modelo14-->
        </div>


    </div>
    {% endfor %}

</div>

{% block JsCode %}

<script>

    function glosario() {
        Swal.fire({
            title: 'Glosario',
            html: `<table class="table table-bordered">
                        <thead>
                            <tr>
                                <th class="text-center" colspan="2">I. INVESTIGACIÓN CIENTIFICA</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr><td>No aplica</td></tr>
                        </tbody>
                    </table>`,
            width: 880,
            confirmButtonText: 'Cerrar',
        });
    }
    //Modelo 14
    var Modelo14 = {
        editar: function (id, activar = true) {
            if (activar) {
                $("#telescopioModelo14" + id).prop("disabled", false);
                $("#descripcionModelo14" + id).prop("disabled", false);
                $("#urlModelo14" + id).prop("disabled", false);
                $("#anexoModelo14" + id).prop("disabled", false);
            }
            else {
                $("#telescopioModelo14" + id).prop("disabled", true);
                $("#descripcionModelo14" + id).prop("disabled", true);
                $("#urlModelo14" + id).prop("disabled", true);
                $("#anexoModelo14" + id).prop("disabled", true);
            }
            timer.reset(540000);
        },
        actualizar: function (id) {

            var formData = new FormData(document.getElementById("modelo14" + id))
            formData.append("id", id);

            $.ajax({
                url: '{% url "reportes:actualizar-modelo14"  %}',
                type: "post",
                data: formData,
                enctype: "multipart/form-data",
                cache: false,
                contentType: false,
                processData: false,
                dataType: 'html',
            })
                .done(function (response) {
                    Modelo14.editar(id, false);
                    notificacion.actualizado();
                    timer.reset(540000);
                })
                .fail(function (response) {
                    notificacion.error(response);
                });
        },
        crear: function (numeral) {
            var periodo = $("#periodoActual").val();
            $.ajax({
                type: "GET",
                url: '{% url "reportes:crear-modelo14" %}',
                data: {
                    "numeral": numeral,
                    "periodo": periodo,
                },
                dataType: "Json",
            })
                .done(function (response) {
                    $("#sinEntradas" + numeral).remove()
                    $("#infoAnteriorModelo14" + numeral).remove()
                    Modelo14.dibujar(response);
                    notificacion.creado()
                    timer.reset(540000);
                })
                .fail(function (response) {
                    notificacion.error(response);
                });
        },
        dibujar: function (data) {
            $("#modelo14Crear" + `${data.numeral}`).before(
                `<form id="modelo14${data.id}" type="post" enctype="multipart/form-data">
                    <div class="pt-4 pr-4 pl-4">
                        {% csrf_token %}
                        <div class="form-group row">
                            <label for="telescopio" class="col-sm-2 col-form-label">Telescopio, instrumento,
                                infraestructura:</label>
                            <div class="col-sm-10">
                                <input class="form-control mb-1" type="text" name="telescopio" id="telescopioModelo14${data.id}">
                            </div>
                        </div>

                        <div class="form-group row">
                            <label for="" class="col-sm-2 col-form-label">URL: </label>
                            <div class="col-sm-10">
                                <input class="form-control mb-1" type="text" name="url" id="urlModelo14${data.id}">
                            </div>
                        </div>

                        <label for="">Descripción: </label>
                        <textarea class="form-control mb-1" name="descripcion" id="descripcionModelo14${data.id}" cols="30" rows="5"></textarea>

                        <input class="form-control" type="file" name="anexo" id="anexoModelo14${data.id}">
                        <small class="mb-4">Tamaño máximo: 5 Mb</small>

                        <div class="justify-content-end d-flex">
                            <div class="row">
                                <div class="col-12">
                                    <button onclick="Modelo14.actualizar(${data.id})" type="button" class="btn btn-success"title="Guardar cambios">
                                        <i class="fas fa-save">&nbsp;Guardar</i>
                                    </button>

                                    <button onclick="Modelo14.editar(${data.id},false)" class="btn btn-warning text-white" type="reset">
                                        <i class="fas fa-ban text-white">&nbsp;Cancelar</i>
                                    </button>

                                    <button type="button" class="btn btn-primary" onclick="Modelo14.editar(${data.id})" title="Editar entrada">
                                        <i class="fas fa-edit">&nbsp;Editar</i>
                                    </button>

                                    <button type="button" class="btn btn-danger" onclick="Modelo14.eliminar(${data.id})" title="Eliminar entrada">
                                        <i class="fas fa-trash-alt">&nbsp;Eliminar</i>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
                <hr>`);
        },
        eliminar: function (id) {
            notificacion.eliminar(function () {
                var csrfmiddlewaretoken = $('input[name="csrfmiddlewaretoken"]').val().trim();
                $.ajax({
                    url: '{% url "reportes:eliminar-modelo14" %}',
                    type: "POST",
                    data: {
                        'id': id,
                        'csrfmiddlewaretoken': csrfmiddlewaretoken,
                    },
                    dataType: 'json',
                    success: function (data) {
                        if (data.deleted) {

                        }
                    }
                })
                    .done(function (response) {
                        $("#modelo14" + id).remove();
                        $("#modelo14Crear" + id).remove();
                        timer.reset(540000);
                    })
                    .fail(function (response) {
                        notificacion.error(response);
                    });
            });
        },
        infoAnterior: function (numeral) {
            var periodo = $("#periodoActual").val();
            $.ajax({
                type: "GET",
                url: "{% url 'reportes:info-anteriorModelo14' %}",
                data: {
                    'periodo': periodo,
                    'numeral': numeral,
                },
                dataType: "json",
            })
                .done(function (response) {

                    if (response.descripcion.length != 0) {
                        $('#sinEntradas' + numeral).remove()
                        for (var i = 0; i < response.descripcion.length; i++) {
                            data = {}
                            data['numeral'] = numeral;
                            data['id'] = response.ids[i];

                            Modelo14.dibujar(data)
                            $("#telescopioModelo14" + response.ids[i]).val(response.telescopio[i]);
                            $("#urlModelo14" + response.ids[i]).val(response.urls[i]);
                            $("#descripcionModelo14" + response.ids[i]).val(response.descripcion[i]);
                        }
                        notificacion.importarPeriodo();
                        $("#infoAnteriorModelo14" + numeral).remove();
                        timer.reset(540000);
                    }
                    else {
                        notificacion.errorImportarPeriodo();
                    }

                })
                .fail(function (response) {
                    notificacion.error(response);
                });
        }
    }
    //Fin modelo14
</script>
{% endblock %}