{% extends 'core/header_adm.html' %}

{% block usuarios %}

<div class="container" style="padding-top: 255px;">

    <div class="row justify-content-end">
        <button class="btn btn-primary mb-3 mt-2 mr-4" data-toggle="modal" data-target="#modal-add"><i
                class="fas fa-user-plus" title="Agregar investigador"></i>&nbspAgregar</button>
    </div>

    <table id="usuarios" class="table table-bordered table-striped text-center" style="width:100%">
        <thead>
            <tr>
                <th scope="col">Usuario</th>
                <th scope="col">Apellido(s)</th>
                <th scope="col">Nombre(s)</th>
                <th scope="col">Nombre corto</th>
                <th scope="col">Acciones</th>
            </tr>
        </thead>

        <tbody>
            {% for inv in users %}
            {% if inv.is_superuser != 1 %}
            <tr id="user-{{inv.id}}">
                <td class="userEmail userData" name="email">{{inv.email}}</td>
                <td class="userLastName userData" name="last_name">{{inv.last_name}}</td>
                <td class="userName userData" name="name">{{inv.first_name}}</td>
                <td class="userNombreCorto userData" name="nombreCorto">{{inv.nombreCorto}}</td>

                <td>
                    <button class="btn btn-success" onClick="editUser({{inv.id}})" data-toggle="modal"
                        data-target="#myModal" title="Editar perfil"><i class="fas fa-user-edit"></i></button>

                    <button class="btn btn-danger" onClick="EliminarUsuarioModal({{inv.id}})"><i
                            class="fas fa-user-times" title="Eliminar perfil"></i></button>

                    <button class="btn btn-secondary" title="Mensaje de bienvenida"
                        onClick="mensajeBienvenida( '{{inv.id}}', '{{inv.first_name}}', '{{inv.last_name}}' )"><i
                            class="fas fa-envelope"></i></button>
                </td>
            </tr>
            {% endif %}
            {% endfor %}
        </tbody>
    </table>

    <!-- Modal UPDATE-->
    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="myModalLabel">Editar investigador</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                            aria-hidden="true">×</span></button>

                </div>
                <form id="updateUser" action="">
                    <div class="modal-body">
                        <input class="form-control" id="form-id" type="hidden" name="formId" />

                        <label for="email">Usuario:</label>
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text" id="basic-addon1"><i class="fas fa-at"></i></span>
                            </div>
                            <input id="form-Email" type="email" name="formEmail" class="form-control"
                                aria-label="Username" aria-describedby="basic-addon1" required>
                        </div>
                        <small class="form-text text-muted mb-3">Su usuario debe ser su correo electronico</small>

                        <label for="apellidos">Apellido(s):</label>
                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                                <span class="input-group-text" id="basic-addon1"><i class="fas fa-edit"></i></span>
                            </div>
                            <input id="form-LastName" type="text" name="formLastName" class="form-control"
                                aria-label="Username" aria-describedby="basic-addon1" required>
                        </div>


                        <label for="name">Nombre(s):</label>
                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                                <span class="input-group-text" id="basic-addon1"><i class="fas fa-edit"></i></span>
                            </div>
                            <input id="form-Name" type="text" name="formName" class="form-control" aria-label="Username"
                                aria-describedby="basic-addon1" required>
                        </div>

                        <label for="apellidos">Nombre corto:</label>
                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                                <span class="input-group-text" id="basic-addon1"><i class="fas fa-user"></i></span>
                            </div>
                            <input id="form-NombreCorto" type="text" name="formNombreCorto" class="form-control"
                                aria-label="Username" aria-describedby="basic-addon1">
                        </div>

                    </div>

                    <div class="modal-footer">
                        <button type="submit" class="btn btn-primary"><i class="fas fa-save"></i>&nbsp;Guardar</button>
                        <button type="button" class="btn btn-danger" data-dismiss="modal">&nbsp;Cancelar</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <!-- Modal ADD-->
    <div class="modal fade" id="modal-add" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="myModalLabel">Agregar Investigador</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                            aria-hidden="true">×</span></button>

                </div>
                <form id="addUser">
                    {% csrf_token %}
                    <div class="modal-body">
                        <input class="form-control" id="form-id" type="hidden" name="formId" />

                        <label for="email">Usuario:</label>
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text" id="basic-addon1"><i class="fas fa-at"></i></span>
                            </div>
                            <input type="email" name="email" placeholder="Usuario" class="form-control"
                                aria-label="Username" aria-describedby="basic-addon1" required>
                        </div>
                        <small class="form-text text-muted mb-3">Su usuario debe ser su correo electronico</small>

                        <label for="apellidos">Apellido(s):</label>
                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                                <span class="input-group-text" id="basic-addon1"><i class="fas fa-edit"></i></span>
                            </div>
                            <input type="text" name="lastName" placeholder="Apellido(s)" class="form-control"
                                aria-label="Username" aria-describedby="basic-addon1" required>
                        </div>


                        <label for="name">Nombre(s):</label>
                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                                <span class="input-group-text" id="basic-addon1"><i class="fas fa-edit"></i></span>
                            </div>
                            <input type="text" name="name" placeholder="Nombre(s)" class="form-control"
                                aria-label="Username" aria-describedby="basic-addon1" required>
                        </div>

                        <label for="apellidos">Nombre corto:</label>
                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                                <span class="input-group-text" id="basic-addon1"><i class="fas fa-user"></i></span>
                            </div>
                            <input type="text" name="nombreCorto" class="form-control" aria-label="Username"
                                aria-describedby="basic-addon1" placeholder="Nombre corto">
                        </div>

                    </div>

                    <div class="modal-footer">
                        <button type="submit" class="btn btn-primary"><i class="fas fa-user-plus"></i> Crear
                            Usuario</button>
                        <button type="button" class="btn btn-danger" data-dismiss="modal"><i class="fas fa-times"></i>
                            Cancelar</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <!--Modal Multiple.-->
    <div class="modal fade" id="modalDinamico" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
        aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="accionModal"></h5>

                </div>

                <div class="modal-body">
                    <h5 id="textoModal" class="text-center"></h5>
                    <h5 id="textoModal2" class="text-center"></h5><br>
                    <div class="d-flex justify-content-center">
                        <i id="icono" style="font-size: 100px;" class=""></i>
                    </div>
                </div>

                <div class="modal-footer" id="footer">

                </div>

            </div>
        </div>
    </div>
    <!--Fin para Modal Multiple-->
</div>


<!-- Modal Eliminar usuario -->
<div class="modal fade" id="eliminarUsuario" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">Eliminar Investigador</h5>

            </div>
            <form id="EliminarUsuarioModal">
                {% csrf_token %}
                <div class="modal-body">
                    <input type="hidden" id="usuarioEliminar-id" name="usuarioEliminarId">
                    <h4>¿Realmente desea eliminar este perfil?</h4><br>
                    <div class="d-flex justify-content-center">
                        <i style="font-size: 100px;" class="far fa-question-circle text-danger"></i>
                    </div>
                </div>

                <div class="modal-footer">
                    <input type="submit" class="btn btn-primary" value="Aceptar"></input>
                    <button type="button" class="btn btn-danger" data-dismiss="modal">Cancelar</button>
                </div>
            </form>

        </div>
    </div>
</div>
<!--Fin modal eliminar usuario-->

{% endblock %}

<!--JS Code-->
{% block JsCode %}
<script>
    // Delete Item 
    function EliminarUsuarioModal(id) {
        $('#eliminarUsuario').modal('show'); // abrir
        $('#usuarioEliminar-id').val(id);
    }

    $("#CrearPeriodoForm").submit(function () {

        toastr.success("Periodo creado", 'Operacion exitosa')
        $('#Crear-Periodo').modal('hide');//cierra modal
        return false;
    });

    $("#EliminarUsuarioModal").submit(function () {
        var id = $('input[name="usuarioEliminarId"]').val().trim();
        var csrfmiddlewaretoken = $('input[name="csrfmiddlewaretoken"]').val().trim();
        $.ajax({
            url: '{% url "administradores:eliminar" %}',
            type: "POST",
            data: {
                'id': id,
                'csrfmiddlewaretoken': csrfmiddlewaretoken,
            },
            dataType: 'json',
            success: function (data) {

                if (data.deleted) {
                    $("#usuarios #user-" + id).remove();
                    toastr.error('Perfil eliminado exitosamente')
                }

            }
        });
        $('#usuarioEliminar-id').trigger("reset");
        $('#eliminarUsuario').modal('hide');//cierra modal
        return false;
    });

    // Create Item
    $("form#addUser").submit(function () {
        var emailInput = $('input[name="email"]').val().trim();
        var nameInput = $('input[name="name"]').val().trim();
        var lastNameInput = $('input[name="lastName"]').val().trim();
        var nombreCorto = $('input[name="nombreCorto"]').val().trim();
        var csrfmiddlewaretoken = $('input[name="csrfmiddlewaretoken"]').val().trim();

        if (emailInput && nameInput && lastNameInput) {
            // Create Ajax Call
            $.ajax({
                url: '{% url "administradores:agregar-inv" %}',
                type: 'POST',
                data: {
                    'email': emailInput,
                    'nombre': nameInput,
                    'apellido': lastNameInput,
                    'nombreCorto': nombreCorto,
                    'csrfmiddlewaretoken': csrfmiddlewaretoken,
                },
                dataType: 'json',
                success: function (data) {
                    if (data.user) {
                        appendToUsrTable(data.user);
                        toastr.info('Perfil creado correctamente', 'Operacion exitosa')
                    }
                }
            });
        } else {
            alert("All fields must have a valid value.");
        }
        $('form#addUser').trigger("reset");
        $('#modal-add').modal('hide');//cierra modal
        return false;
    });

    function appendToUsrTable(user) {
        $("#usuarios > tbody:last-child").append(`
            <tr id="user-${user.id}">
                <td class="userEmail userData" name="email">${user.name}</td>
                <td class="userNombreCorto" name="nombreCorto" >${user.nombreCorto}</td>
                '<td class="userLastName userData" name="last_name">${user.last_name}</td>
                '<td class="userName userData" name="name">${user.first_name}</td>
                '<td>
                    <button class="btn btn-success" onClick="editUser(${user.id})" data-toggle="modal"
                        data-target="#myModal"><i class="fas fa-user-edit"></i></button>

                    <button class="btn btn-danger" onClick="EliminarUsuarioModal(${user.id})"><i
                            class="fas fa-user-times"></i></button>
                    
                    <button class="btn btn-secondary" onClick="mensajeBienvenida(${user.id})"><i class="fas fa-envelope"></i></button>
                </td>
            </tr>
        `);
    }

    //UPADATE Item - Funcion de actualizar desde modal.
    $("form#updateUser").submit(function () {
        //Almacenamos el valor de cada input en variables para tratarlas
        //Obtenemos valor(val) y quitamos estacios(trim)
        var idInput = $('input[name="formId"]').val().trim(); //Id Input
        var nameInput = $('input[name="formName"]').val().trim(); //Nombre
        var lastNameInput = $('input[name="formLastName"]').val().trim(); //Apellidos
        var emailInput = $('input[name="formEmail"]').val().trim(); //correo - Usuario
        var nombreCorto = $('input[name="formNombreCorto"]').val().trim(); //correo - Usuario
        if (nameInput && lastNameInput && emailInput) { //Comprobamos si existe un valor en variables
            // Create Ajax Call
            $.ajax({
                url: '{% url "administradores:editar-adm" %}',
                data: {
                    'id': idInput,
                    'name': nameInput,
                    'lastName': lastNameInput,
                    'email': emailInput,
                    'nombreCorto': nombreCorto
                },
                dataType: 'json',
                success: function (data) {
                    if (data.user) {
                        updateToUserTabel(data.user);
                        toastr.success('Perfil actualizado correctamente', 'Operación exitosa')
                    }
                }
            });
        } else {
            alert("Todos los campos son necesarios");
        }

        $('form#updateUser').trigger("reset");
        $('#myModal').modal('hide');
        return false;
    });

    // Modal Update
    function editUser(id) {
        if (id) {
            //Traemos valor del campo a editar y almacenamos en variables.
            tr_id = "#user-" + id;
            email = $(tr_id).find(".userEmail").text();
            name = $(tr_id).find(".userName").text();
            last_name = $(tr_id).find(".userLastName").text();
            nombre_corto = $(tr_id).find(".userNombreCorto").text();

            //Asignamos valores recogidos y los colocamos en el Modal, para la edición
            $('#form-id').val(id);
            $('#form-Name').val(name);
            $('#form-LastName').val(last_name);
            $('#form-Email').val(email);
            $('#form-NombreCorto').val(nombre_corto);
        }
    }

    function updateToUserTabel(user) {
        $("#usuarios #user-" + user.id).children(".userData").each(function () {
            var attr = $(this).attr("name");

            if (attr == "email") {
                $(this).text(user.email);

            } else if (attr == "name") {
                $(this).text(user.name);

            } else if (attr == "nombreCorto") {
                $(this).text(user.nombreCorto);
            }
            else {
                $(this).text(user.last_name)
            }

        });
    }

    function mensajeBienvenida(id, nombre, apellidos) {
        $("#accionModal").text("Reenvio de mensaje");
        $("#textoModal").html(`¿Desea enviar nuevamente el mensaje de bienvenida a ${nombre} ${apellidos} ? <br> NOTA: Se restablecerá su contraseña.`)
        $("#icono").addClass('far fa-question-circle text-danger')
        $("#footer").html(`<button type="button" onclick="mensajeBienvenidaConfirm('${id}','${nombre}', '${apellidos}')" class="btn btn-primary">Aceptar</button><button type="button" class="btn btn-danger" data-dismiss="modal">Cancelar</button>`)
        $("#modalDinamico").modal('show');
        /*
        $.ajax({
            url: '{% url "administradores:correoBienvenida" %}',
            type:'POST',
            data: {
                'id':id,
            },
            dataType: 'json',
            success: function(data){
                toastr('Operacion Exitosa','Correo de bienvenida enviado exitosamente')
            }
        });
        */
        
    }

    function mensajeBienvenidaConfirm(id, nombre, apellidos) {
        toastr.success('Operacion Exitosa', 'Correo de bienvenida enviado exitosamente a ' + nombre + " " + apellidos)
        $("#modalDinamico").modal('hide');
    }

</script>
{% endblock %}