{% extends 'core/header_adm.html' %}

{% block reportes_usuarios %}
{% load static %} {# Archivos #}
<div class="contenido">

    <div class="container mb-4 dataT" style="padding-top: 250px;">
        <div class="reporte-maestro">
            <a href="{%  url 'administradores:reporteMaestro' %}" class="btn btn-success">Reporte Maestro</a>
        </div>
        <div class="row">
            <div class="col-12 d-flex justify-content-start justify-content-sm-end" >
                <form action="">
                    <label for="periodos">
                        <strong>Periodos</strong>
                    </label>
                    {% csrf_token %}
                    <select class="form-control" name="" id="periodo">
                        <option value="{{ultimoPeriodo.id}}">{{ultimoPeriodo}}</option>
                        {% for periodo in periodo %}
                        <option value="{{periodo.id}}">{{ periodo }}</option>
                        {% endfor %}
                    </select>
                </form>
            </div>
        </div>
    </div>
    

</div>
{{ datatable }}



{% endblock %}

{% block JsCode %}
<script>
  datatableview.auto_initialize = true;
</script>

{% endblock %}