<div class="wrapper">
    <div class="slidebar-wrapper">
        <ul class="sliderbar-nav">
            <li class="sliderbar-brand">
                <a href="">as</a>
            </li>
            <li><a href="">cs</a></li>
            <li><a href="">s</a></li>
            <li><a href="">ss</a></li>
            <li><a href="">sss</a></li>
            <li><a href="">qwqww</a></li>
        </ul>
    </div>
</div>

<div class="----------------"></div>
        <!-- Sidebar -->
        {% if request.user.is_authenticated %}
        <div id="sidebar-container" class="bg-light border-right">
            {% if request.user.is_superuser %}
            <div class="logo">Administrador</div>
            <div class="menu list-group-flush">
                {% if request.path != '/home-adm' %}
                <a class="list-group-item list-group-item-action bg-light p-3 border-0"
                    href="{% url 'administradores:home-adm'  %}">
                    <i class="fas fa-home">&nbsp; Inicio</i></a>

                <a href="#" onclick="cerrarSesion()"
                    class="list-group-item list-group-item-action bg-light p-3 border-0">
                    <i class="fas fa-sign-out-alt"></i>&nbsp; Cerrar Sesión</a>

                <a class="list-group-item list-group-item-action bg-light p-3 border-0"
                    href="javascript:history.back()">
                    <i class="fas fa-arrow-circle-left"></i>&nbsp; Regresar</a>

                {% if request.path != '/perfil_adm' %}
                <a href="{% url 'administradores:perfil_adm' %}"
                    class="list-group-item list-group-item-action bg-light p-3 border-0">
                    <i class="fas fa-user">&nbsp;</i> Administrador</a>
                {% endif %}

                {% if request.path != '/investigadores' %}
                <a href="{% url 'administradores:reportes' %}"
                    class="list-group-item list-group-item-action bg-light p-3 border-0">
                    <i class="fas fa-users">&nbsp;</i>Usuarios</a>
                {% endif %}

                {% if request.path != '/reportes-adm' %}
                <a href="{% url 'administradores:reportes_adm' %}"
                    class="list-group-item list-group-item-action bg-light p-3 border-0">
                    <i class="far fa-file-alt"></i>&nbsp;Reportes</a>
                {% endif %}

                {% endif %}
            </div>
            {% else %}
            <div class="logo">{{ user.nombre}} {{user.apellido}}</div>
            <div class="menu list-group-flush">
                <a class="list-group-item list-group-item-action bg-light p-3 border-0"
                    href="{% url 'administradores:home-adm'  %}">
                    <i class="fas fa-home">&nbsp; Inicio</i></a>

                <a href="#" onclick="cerrarSesion()"
                    class="list-group-item list-group-item-action bg-light p-3 border-0">
                    <i class="fas fa-sign-out-alt"></i>&nbsp; Cerrar Sesión</a>

                <a class="list-group-item list-group-item-action bg-light p-3 border-0"
                    href="javascript:history.back()">
                    <i class="fas fa-arrow-circle-left"></i>&nbsp; Regresar</a>
                <hr>

                {% if request.path == '/home' %}
                <a href="http://bit.ly/Guía-Reportes-INAOE-Astro" target="blank"
                    class="list-group-item list-group-item-action bg-light p-3 border-0"><i
                        class="fas fa-book-open"></i> Guía rápida PDF</a>
                {% endif %}

                {% if request.path != '/home' %}

                {% if request.path != '/biblioteca-personal' %}
                <a href="{% url 'biblioteca:biblioteca_personal' %}"
                    class="list-group-item list-group-item-action bg-light p-3 border-0"><i class="fas fa-book"></i>
                    Biblioteca personal</a>
                {% endif %}

                {% if request.path != '/busqueda-ads' %}
                <a href="{% url 'biblioteca:busqueda_biblioteca' %}"
                    class="list-group-item list-group-item-action bg-light p-3 border-0"><i class="fas fa-search"></i>
                    Búsqueda ADS</a>
                {% endif %}

                {% if request.path != '/reporte-productividad' %}
                <a href="{% url 'reportes:reporte-productividad' %}"
                    class="list-group-item list-group-item-action bg-light p-3 border-0"><i class="far fa-file-alt"></i>
                    Reportes productividad</a>
                {% endif %}

                {% if request.path == '/reporte-productividad' %}
                <hr>
                <p class="text-center text-white bg-primary list-group-item">Reporte de productividad</p>
                <form action="{% url 'reportes:generarReporte' %}">
                    <input type="hidden" value="{{periodoActual.id}}" name="periodo">
                    <button onclick="notificacion.vistaPrevia()"
                        class="text-white list-group-item list-group-item-action bg-success p-3 border-0">
                        <i class="far fa-eye"></i> Vista Previa</button>
                </form>

                <a class="text-white list-group-item list-group-item-action bg-info p-3 border-0"
                    href="{% url 'reportes:reportesEnviados' %}"><i class="fas fa-history"></i> Historico</a>

                <button class="text-white list-group-item list-group-item-action bg-danger p-3 border-0"
                    onclick="finalizarReporte()"><i class="fas fa-check"></i>
                    Finalizar Reporte
                </button>
                {% endif %}

                {% endif %}

            </div>
            {% endif %}
        </div>
        {% endif %}
        <!-- Fin sidebar -->