<header>
    <nav class="navbar navbar-expand-lg navbar-light bg-light border-bottom justify-content-between fixed-top">
            
        <a class="navbar-brand">
            <img src="{% static 'media/logo.png' %}" width="55px;">
        </a>
            
        <span class="navbar-text text-center">
            Coordinación de Astrofísica<br>Sistema de Reportes
        </span>
           
        <a class="navbar-brand">
            <img src="{% static 'media/conacyt.png' %}" width="55px">
        </a>
        <button id="menu-toggle" class="navbar-toggler col-12" type="button" data-toggle="collapse"
        data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
        aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
        
    </nav>
</header>

<div class="d-flex" id="wrapper">

    <!-- Sidebar -->
    {% if request.user.is_authenticated %}
    <nav id="sidebar-wrapper" class="bg-light border-right fixed-left">
        {% if request.user.is_superuser %}
        <div class="logo">Administrador</div>
        <div class="menu list-group-flush">

            <a class="list-group-item list-group-item-action bg-light p-3 border-0"
                href="{% url 'administradores:home-adm'  %}">
                <i class="fas fa-home">&nbsp; Inicio</i></a>


            <a class="list-group-item list-group-item-action bg-light p-3 border-0"
                href="javascript:history.back()">
                <i class="fas fa-arrow-circle-left"></i>&nbsp; Regresar</a>

            <a href="{% url 'administradores:perfil_adm' %}"
                class="list-group-item list-group-item-action bg-light p-3 border-0">
                <i class="fas fa-user">&nbsp;</i> Administrador</a>

            <a href="{% url 'administradores:reportes' %}"
                class="list-group-item list-group-item-action bg-light p-3 border-0">
                <i class="fas fa-users">&nbsp;</i>Usuarios</a>

            <a href="{% url 'administradores:reportes_adm' %}"
                class="list-group-item list-group-item-action bg-light p-3 border-0">
                <i class="far fa-file-alt"></i>&nbsp;Reportes</a>
            <hr>
            <a href="#" onclick="cerrarSesion()"
            class="list-group-item list-group-item-action bg-light p-3 border-0">
            <i class="fas fa-sign-out-alt"></i>&nbsp; Cerrar sesión</a>


        </div>
        {% else %}
        <div class="sidebar-heading">{{ user.nombre}} {{user.apellido}}</div>
        <div class="list-group list-group-flush ">
            <a class="list-group-item list-group-item-action bg-light p-3 border-0"
                href="{% url 'reportes:home'  %}">
                <i class="fas fa-home">&nbsp; Inicio</i></a>
            
            <a class="list-group-item list-group-item-action bg-light p-3 border-0"
            href="{% url 'registration:actualizar-perfil' %}">
            <i class="fas fa-user"></i>&nbsp; Perfil</a>

            <a class="list-group-item list-group-item-action bg-light p-3 border-0"
                href="javascript:history.back()">
                <i class="fas fa-arrow-circle-left"></i>&nbsp; Regresar</a>
            
            <a href="http://bit.ly/Guía-Reportes-INAOE-Astro" target="blank"
                class="list-group-item list-group-item-action bg-light p-3 border-0"><i
                    class="fas fa-book-open"></i> Guía rápida PDF</a>
            <hr>

            <a href="{% url 'reportes:reporte-productividad' %}"
                class="list-group-item list-group-item-action bg-light p-3 border-0"><i class="far fa-file-alt"></i>
                Reportes productividad</a>

            <a href="{% url 'biblioteca:biblioteca_personal' %}"
                class="list-group-item list-group-item-action bg-light p-3 border-0"><i class="fas fa-book"></i>
                Biblioteca personal</a>

            <a href="{% url 'biblioteca:busqueda_biblioteca' %}"
                class="list-group-item list-group-item-action bg-light p-3 border-0"><i class="fas fa-search"></i>
                Búsqueda ADS</a>
            <hr>
            <a href="{% url 'reporteSNI:instruccionesSNI' %}"
                class="list-group-item list-group-item-action bg-light p-3 border-0"><i class="fas fa-pencil-alt"></i>
                Citas SNI</a>

            <hr>
            <a href="#" onclick="cerrarSesion()"
                class="list-group-item list-group-item-action bg-light p-3 border-0">
                <i class="fas fa-sign-out-alt"></i>&nbsp; Cerrar sesión</a>

        </div>
        {% endif %}
    </nav>
    {% endif %}
    <!-- Fin sidebar -->

    <div id="page-content-wrapper">
        
        <div class="container-fluid pt-2 pl-2 pr-2">
            {% block contenido %}{% endblock %}
        </div>
    </div>

</div>