/*Perfil*/
.perfil{
    width:150px;
    height:150px;
    border-radius:150px;
    opacity: 0.7;
}

.reporte_p{
    width:150px;
    height:150px;
    border-radius:150px;
    opacity: 0.7;
}

.biblioteca{
    width:150px;
    height:150px;
    border-radius:150px;
    opacity: 0.7;
}

.reporte_SNI{
    width:150px;
    height:150px;
    border-radius:0px;
    opacity: 0.7;
}

.metrica_ADS{
    width:150px;
    height:150px;
    border-radius:150px;
    opacity: 0.7;
}

/*HOVER*/
.perfil:hover{
    cursor: pointer;
    opacity: 1;
}

.reporte_p:hover{
    cursor: pointer;
    opacity: 1;
}

.biblioteca:hover{
    cursor: pointer;
    opacity: 1;
}

.reporte_SNI:hover{
    cursor: pointer;
    opacity: 1;
}

.metrica_ADS:hover{
    cursor: pointer;
    opacity: 1;
}


