<!DOCTYPE html>
<html lang="es">

<head>
    {% load static %} {# Archivos #}
    <meta charset="UTF-8">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="shortcut icon" href="{% static 'core/media/logo.png'%}" type="image/x-icon">
    <link rel="stylesheet" href="{% static 'core/css/estilosSeccionesReportes.css' %}">
    <script src="{% static 'core/js/cargaArchivos.js' %}"></script>
    <link rel="stylesheet" href="{% static 'core/css/cargaArchivos.css' %}">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'core/css/btn_flotante.css' %}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css">
    <style>
        @media only screen and (max-width: 768px) {
            .secciones {
                padding-top: 350px;
            }

            .btn-reporte {
                width: 50px;
                height: 50px;
                font-size: 40px;
                right: 20px;
                top: 310px;

            }
        }

        @media only screen and (min-width: 768px) {
            .secciones {
                padding-top: 300px;
            }
        }
    </style>
    <title>Sistema de Reportes</title>
</head>

<body>
    <header class="container-fluid sticky-top bg-light" style="opacity: 0.95;">

        <div class="row">
            <div class="col-12">
                <nav class="navbar">

                    <div class="justify-content-start"><img src="{% static 'core/media/logo.png' %}" width="70px;"
                            class="img-responsive" alt="Logo"></div>

                    <div class="justify-content-center text-center">
                        <p>Coordinación de Astrofísica<br>Sistema de Reportes</p>
                    </div>

                    <div class="justify-content-end"><img src="{% static 'core/media/conacyt.png' %}" width="70px"
                            class="float-right img-responsive" alt=""></div>
                </nav>
            </div>
        </div>

    </header>

    <section class="sticky-top bg-light mb-4 " style="opacity: 0.95;">
        <div class="container-fluid">
            <div class="row">
                <div class="col-12">

                    <main class="navbar">

                        <div class="navbar-light justify-content-start">
                            <a class="navbar-brand" href="{% url 'investigadores:home'  %}">
                                <i class="fas fa-home">&nbsp; Inicio</i></a>
                        </div>

                        <div class="navbar-light justify-content-end">
                            <a onclick="cerrarSesion()" class="nav-link text-secondary" style="cursor: pointer;">
                                <i class="fas fa-sign-out-alt"></i>&nbsp; Cerrar Sesión</a>

                            <a class="nav-link text-secondary" href="javascript:history.back()">
                                <i class="fas fa-arrow-circle-left"></i>&nbsp; Regresar</a>
                        </div>

                    </main>
                </div>
            </div>

        </div>

        <div class="container-fluid">
            <div class="row mb-3">

                <div class="col-6 col-md-6">
                    <h5>{{ user.first_name}} {{user.last_name}}</h5>
                </div>

                <div class="col-6 col-md-6 d-flex justify-content-end">
                    <!--<p>Periodo:<br><strong>{{periodoActual}}</strong></p> !-->
                    <label class="mr-2" for="periodo">Periodo: </label>
                    <form action="" method="POST">
                        {% csrf_token %}
                        <select onchange="this.form.submit()" class="form-control" name="periodoActual"
                            id="periodoActual">
                            <option value="{{periodoActual.id}}">{{periodoActual.nombrePeriodo}}</option>
                            {% for periodos in periodos %}
                            <option value="{{periodos.id}}">{{periodos.nombrePeriodo}}</option>
                            {% endfor %}
                        </select>
                    </form>

                </div>
            </div>

            <div class="row">

                <div class="col-12 col-md-4">
                    <div class="d-flex justify-content-start text-white">
                        <a href="{% url 'biblioteca:biblioteca_personal' %}"
                            class="btn btn-primary mr-2 btn-sm"><i class="fas fa-book"></i> Biblioteca personal </a>
                        <a href="{% url 'biblioteca:busqueda_biblioteca' %}"
                            class="btn btn-primary mr-2 btn-sm"><i class="fas fa-search"></i> Búsqueda ADS</a>
                        <a href="{% url 'investigadores:reporte-productividad' %}"
                            class="btn btn-primary btn-sm disabled"><i class="far fa-file-alt"></i> Reportes productividad</a>
                    </div>
                </div>

                <div class="col-12 col-md-4">
                    <div class="d-flex justify-content-center mt-md-0 mt-4">
                        <p><strong>Periodo: {{periodoActual.nombrePeriodo}} </strong></p>
                    </div>

                </div>

                <div class="col-12 col-md-4">
                    <div class="d-flex justify-content-center justify-content-sm-end mb-2">
                        <div class="btn-group" role="group">
                            <form action="{% url 'investigadores:generarReporte' %}">
                                <input type="hidden" value="{{periodoActual.id}}" name="periodo">
                                <button onclick="this.form.submit()" class="btn btn-success btn-sm mr-2"><i class="far fa-eye"></i> Vista
                                    Previa</button>
                            </form>

                            <a class="btn btn-info btn-sm mr-2"
                                href="{% url 'investigadores:reportesEnviados' %}"><i class="fas fa-history"></i> Historico</a>
                            <button class="btn btn-danger btn-sm" onclick="finalizarReporte()"><i class="fas fa-check"></i> Finalizar Reporte
                            </button>

                        </div>
                    </div>
                </div>

            </div>

        </div>
    </section>

    {%block contenido%}

    {% endblock %}

    <!--Modal Multiple.-->
    <div class="modal fade" id="modalDinamico" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
        aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="accionModal"></h5>

                </div>

                <div class="modal-body">
                    <div id="textoModal" class="text-center"></div><br>
                    <div style="font-size:100px;" id="icono" class="d-flex justify-content-center">
                    </div>
                </div>

                <div class="modal-footer" id="footer">

                </div>

            </div>
        </div>
    </div>
    <!--Fin para Modal Multiple-->


    <footer>

        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
            integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
            crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
            integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
            crossorigin="anonymous"></script>
        <link rel="stylesheet" href="{% static 'core/css/toastr.min.css' %}">
        <script src="{% static 'core/js/toastr.min.js' %}"></script>
        <script src="{% static 'core/js/toastConfig.js' %}"></script>
        <script>
            //Control de sesion
            let timer;
            $(document).ready(function () {
                var csrfmiddlewaretoken = $('input[name="csrfmiddlewaretoken"]').val().trim();
                var periodo = $('select[name="periodoActual"]').val().trim();

                $.ajax({
                    type: "POST",
                    url: "{% url 'investigadores:investigacion_cientifica' %}",
                    data: {
                        'periodoActual': periodo,
                        "csrfmiddlewaretoken": csrfmiddlewaretoken,
                    },
                    dataType: "html",
                    success: function (response) {
                        $("#numerales").remove()
                        $("#contenido").html(response);
                    }
                });

                timer = new Timer(function () {
                    $("#accionModal").text("Sesión por caducar");
                    $("#textoModal").html(`<h5>Su sesión expira en 60 seg. <br> ¿Desea ampliarla?</h5>`) //¿Desea eliminar este Item?
                    $("#icono").html(`<i class="far fa-clock text-danger"></i>`)
                    $("#footer").html('<button type="button" onclick="AmpliarSesion()" class="btn btn-primary">Aceptar</button> <button type="button" class="btn btn-danger" data-dismiss="modal">Cancelar</button> ')
                    $("#modalDinamico").attr('data-backdrop', "static");
                    $("#modalDinamico").modal('show');
                }, 540000)

            });

            function Timer(fn, t) {
                var timerObj = setInterval(fn, t);

                this.stop = function () {
                    if (timerObj) {
                        clearInterval(timerObj);
                        timerObj = null;
                    }
                    return this;
                }

                // start timer using current settings (if it's not already running)
                this.start = function () {
                    if (!timerObj) {
                        this.stop();
                        timerObj = setInterval(fn, t);
                    }
                    return this;
                }

                // start with new or original interval, stop current interval
                this.reset = function (newT = t) {
                    t = newT;
                    return this.stop().start();
                }
            }

            function AmpliarSesion() {
                $.ajax({
                    type: "GET",
                    url: '{% url "investigadores:Ampliar-sesion" %}',
                    data: {

                    },
                    dataType: "Json",
                    success: function (data) {
                        momentoActual = new Date()
                        hora = momentoActual.getHours()
                        $("#modalDinamico").modal('hide');
                        toastr.info('Sesion ampliada a las ' + data.nuevaSesion, 'Operación exitosa')
                    },
                    error: function (error, tipoError) {
                        toastr.error('Sesión terminada redireccionando', 'Error en la operación')
                        $("#accionModal").text("Sesión terminada");
                        $("#textoModal").html(`<h5>Su sesión caduco, en breve se redireccionara al login</h5>`) //¿Desea eliminar este Item?
                        $("#icono").html(`<i class="fas fa-sign-out-alt text-danger"></i>`)
                        $("#footer").html('<button type="button" class="btn btn-danger btn-block" data-dismiss="modal">Aceptar</button> ')
                        $("#modalDinamico").attr('data-backdrop', "static");
                        $("#modalDinamico").modal('show');
                        setInterval(() => {
                            window.location.href = '{% url "logout" %}'
                        }, 6000);

                    }
                });
            }

            function cerrarSesion() {
                $("#accionModal").text("Finalizar sesión");
                $("#textoModal").html(`¿Realmente quiere finalizar su sesión?`) //¿Desea eliminar este Item?
                $("#icono").html(`<i class="fas fa-sign-out-alt text-danger"></i>`)
                $("#footer").html(`<a href="{% url 'logout' %}" class="btn btn-success"><i class="fas fa-check"></i> Aceptar</a>
                        <button type="button" class="btn btn-danger" data-dismiss="modal"><i class="fas fa-times"></i> Cancelar</button>`)
                $("#modalDinamico").modal('show');
            }

            function finalizarReporte() {
                $("#accionModal").text("Finalizar Reporte");
                $("#textoModal").html(`<h5 class="text-center">¿Está seguro(a) de finalizar su reporte correspondiente
                            al periodo {{ periodoActual }} ?</h5>
                        <h5 class="text-center"> Al dar click en Aceptar se enviará oficialmente a la Coordinación.</h5>`) //¿Desea eliminar este Item?
                $("#icono").html(`<i class="fas fa-envelope text-muted"></i>`)
                $("#footer").html(`<button onclick="enviarReporte()" data-dismiss="modal" class="btn btn-success"><i class="fas fa-check"></i> Aceptar</button>
                        <button type="button" class="btn btn-danger" data-dismiss="modal"><i class="fas fa-times"></i> Cancelar</button>`)
                $("#modalDinamico").modal('show');
            }

            function enviarReporte() {
                periodoActual = $("select[name='periodoActual']").val().trim()
                $.ajax({
                    type: "GET",
                    url: '{% url "investigadores:enviar-Reporte" %}',
                    data: {
                        'periodoActual': periodoActual,
                    },
                    dataType: "Json",
                    success: function (response) {
                        estado = ""
                        if (response.actualizado) {
                            estado = "actualizado y enviado exitosamente"
                            toastr.info('El reporte ' + response.periodo + ' fue ' + estado)
                            $("#accionModal").text("Reporte Finalizado");
                            $("#textoModal").html(`El reporte ${response.periodo} fue actualizado y enviado a la coordinación exitosamente.<br>
                                En breve recibira un correo adjuntando una copia del reporte`) //¿Desea eliminar este Item?
                            $("#icono").html(`<i class="fas fa-check-circle text-info"></i>`)
                            $("#footer").html(`<button class="btn btn-info btn-block" data-dismiss="modal">Aceptar</button>`)
                            $("#modalDinamico").modal('show');
                        }
                        else {
                            estado = "enviado exitosamente"
                            toastr.success('El reporte ' + response.periodo + ' fue ' + estado)
                            $("#accionModal").text("Reporte Finalizado");
                            $("#textoModal").html(`El reporte ${response.periodo} fue enviado a la coordinación exitosamente.<br>
                                En breve recibira un correo adjuntando una copia del reporte`) //¿Desea eliminar este Item?
                            $("#icono").html(`<i class="fas fa-check-circle text-success"></i>`)
                            $("#footer").html(`<button class="btn btn-success btn-block" data-dismiss="modal">Aceptar</button>`)
                            $("#modalDinamico").modal('show');
                        }

                    }
                });
            }


        </script>

    </footer>
    {% block JsCode %}
    {% endblock %}

</body>

</html>