{% extends 'core/header_adm.html' %}

{% block cuerpo %}
    {% load widget_tweaks %}
    {% load crispy_forms_tags %}
    <section class="container">
        <div class="row">
            <div class="col-12">
                <form method="post" enctype="application/x-www-form-urlencoded">
                    <fieldset>
                        <legend>Ingrese los datos a actualizar:</legend>
                        {% csrf_token %}
                        {{form|crispy}}
                        <button type="submit" class="btn btn-success sesion"><i class="fas fa-save"></i>&nbspGuardar Cambios</button>
                        <a href="{% url 'administradores:reportes' %}" type="submit" class="btn btn-danger sesion"><i class="fas fa-undo"></i>&nbspVolver</a>
                    </fieldset>
                </form>
            </div>
        </div>

    </section>
{% endblock %}

{% block JsCode %}
<script>
    $(".sesion").click(function(){
        timer.reset(540000);  
    });
</script>
{% endblock %}