{% extends 'core/base.html' %}
{% load static %} {# Archivos #}
{% block head %}
<link rel="stylesheet" href="{% static 'css/styles.css' %}">
{% endblock %}
{% block contenido %}

<section class="container mx-auto" style="margin-top: 100px;">
    <div class="row text-center d-flex justify-content-center">

        <div class="col-11 col-sm-2">
            <a href="{% url 'administradores:perfil_adm' %}"><img id="perfilAdmin" class="perfil"
                    src="{% static 'media/perfil.png'%}" alt=""><br></a>
            <strong>
                <p class="text-dark">Administrador</p>
            </strong>
        </div>

        <div class="col-11 col-sm-2">
            <a href="{% url 'administradores:investigadores' %}"><img class="biblioteca"
                    src="{% static 'media/usuarios.png'%}" alt=""><br></a>
            <strong>
                <p class="text-dark">Usuarios</p>
            </strong>
        </div>

        <div class="col-11 col-sm-2">
            <a href="{% url 'administradores:reportes_adm' %}"><img class="biblioteca"
                    src="{% static 'media/reporte.png'%}" alt=""><br></a>
            <strong>
                <p class="text-dark">Reportes</p>
            </strong>
        </div>

    </div>
</section>
{% endblock %}