<div class="reportes">
    {% for reporteUser in reportes %}
    <tr>

        <td>{{reporteUser.fecha_de_creacion|date:"d-M-Y"}}</td>
        <td>{{reporteUser.usuario.apellido}}</td>
        <td> {{reporteUser.usuario.nombre}}</td>
        <td><a href="{{reportUser.reporte.url}}"><i style="font-size:35px; color:red;" class="far fa-file-pdf"></i></a>
        </td>
        <td><a href="{{reportUser.anexo.url}}"><i style="font-size:35px;" class="far fa-file-archive"></i></a></td>

    </tr>
    {% endfor %}

</div>