
.btn-reporte {
    display:block;
    width:50px;
    height:50px;
    color:rgb(5, 5, 5);
    cursor: pointer;
    position: fixed;
    right:130px;
    top:440px;
    font-size: 40px;
    z-index: 999;
}

#enviar {
    display:block;
    color: white;
    cursor: pointer;
    position: fixed;
    right:30px;
    top:300px;
    z-index: 999;
}