



            <!--Numeral 52a Modelo10 -->
            {% if numeral.orden > 52.01 and numeral.orden <= 52.1 %}
            <!--verificar esta validacion para que solo evalue si es 52.1-->
            <li>
                {% for modelo10 in modelo10 %}

                {% if modelo10.orden == numeral.orden %}
                <form id="modelo10{{modelo10.id}}" enctype="multipart/form-data">
                    <div class="card-body">
                        {% csrf_token %}
                        <div class="form-group">
                            <div class="form-group row">
                                <label for="">Periodo:</label>
                                <div class="col-sm-10">
                                    <input disabled class="form-control mb-4" type="text" name="periodo"
                                        id="periodoModelo10{{modelo10.id}}"
                                        value="{% if modelo10.periodoNumeral %}{{modelo10.periodoNumeral}}{% endif %}">
                                </div>
                            </div>

                            <label for="">Descripcion: </label>
                            <textarea disabled class="form-control mb-4" name="descripcion"
                                id="descripcionModelo10{{modelo10.id}}" cols="30"
                                rows="5"> {% if modelo10.descripcion %}{{modelo10.descripcion}}{% endif %}</textarea>


                            <input class="form-control mb-4" disabled type="file" name="anexo"
                                id="anexoModelo10{{modelo10.id}}">

                            <div class="justify-content-end d-flex">
                                <button onclick="modelo10Actualizar('{{modelo10.id}}')" type="button"
                                    class="btn btn-success p-2 mr-2" title="Guardar cambios"><i
                                        class="fas fa-save">&nbsp;
                                        Guardar</i></button>
                                <button type="button" class="btn btn-primary p-2 mr-2"
                                    onclick="modelo10Editar('{{modelo10.id}}')" id="{{modelo10.id}}"
                                    title="Editar entrada"><i class="fas fa-edit">&nbsp;Editar</i></button>
                                <button type="button" class="btn btn-danger  p-2 mr-2"
                                    onclick="modelo10Eliminar('{{modelo10.id}}')" title="Eliminar entrada"><i
                                        class="fas fa-trash-alt">&nbsp;Eliminar</i></button>
                            </div>
                        </div>

                    </div>
                </form>
                {% endif %}

                {% if forloop.last %}
                <button onclick="submodelo1Crear('{{modelo1.id}}', '{{modelo1.nombreDeSeccion}}',{{modelo1.orden}})"
                    type="button" id="crear" class="btn btn-danger"><i class="fas fa-plus-circle"></i>
                    Agregar
                    entrada</button>
                {%endif%}

                {% endfor %}
            </li>
            {% endif %}
            <!--Fin Numeral 52a Modelo10 -->


            <!--Numeral 53 modelo 11-->
            {% if numeral.orden == 53 %}
            <li>
                {% for modelo11 in modelo11 %}

                {% if modelo11.orden == numeral.orden %}
                <form id="modelo11{{modelo11.id}}" enctype="multipart/form-data">
                    <div class="card-body">
                        {% csrf_token %}
                        <div class="form-group">

                            <div class="form-group row">
                                <label for="" class="col-sm-2">Nombre del estudiante: </label>
                                <div class="col-sm-10">
                                    <input disabled class="form-control mb-4" type="text" name="nombreEstudiante"
                                        id="nombreEstudianteModelo11{{modelo11.id}}"
                                        value="{% if modelo11.nombreEstudiante %}{{modelo11.nombreEstudiante}}{%endif%}">
                                </div>
                            </div>

                            <label for="">Descripción: </label>
                            <textarea disabled class="form-control mb-4" name="descripcion"
                                id="descripcionModelo11{{modelo11.id}}" cols="30"
                                rows="5">{% if modelo11.descripcion %}{{modelo11.descripcion}}{%endif%}</textarea>

                            <input disabled class="form-control mb-4" disabled type="file" name="anexo"
                                id="anexoModelo11{{modelo11.id}}">

                            {%if modelo11.anexoPdf %}
                            <strong>Actualmente: </strong><a
                                href="{{modelo11.anexoPdf.url}}">{{modelo11.anexoPdf.name}}</a>
                            {% endif %}


                            <div class="justify-content-end d-flex">
                                <button onclick="modelo11Actualizar('{{modelo11.id}}')" type="button"
                                    class="btn btn-success p-2 mr-2" title="Guardar cambios"><i
                                        class="fas fa-save">&nbsp;
                                        Guardar</i></button>
                                <button type="button" class="btn btn-primary p-2 mr-2"
                                    onclick="modelo11Editar('{{modelo11.id}}')" id="{{modelo11.id}}"
                                    title="Editar entrada"><i class="fas fa-edit">&nbsp;Editar</i></button>
                                <button type="button" class="btn btn-danger  p-2 mr-2"
                                    onclick="modelo11Eliminar('{{modelo11.id}}')" title="Eliminar entrada"><i
                                        class="fas fa-trash-alt">&nbsp;Eliminar</i></button>
                            </div>

                        </div>

                    </div>
                </form>
                <hr>
                {% endif %}

                {% if forloop.last %}
                <button onclick="submodelo1Crear('{{modelo1.id}}', '{{modelo1.nombreDeSeccion}}',{{modelo1.orden}})"
                    type="button" id="crear" class="btn btn-danger"><i class="fas fa-plus-circle"></i>
                    Agregar
                    entrada</button>
                {%endif%}

                {% endfor %}
            </li>
            {% endif %}
            <!--Fin Numeral 53 modelo 11 -->

            <!--Numeral 54 Modelo 11-->
            {% if numeral.orden == 54 %}
            <li>
                {% for modelo11 in modelo11 %}

                {% if modelo11.orden == numeral.orden %}
                <form id="modelo11{{modelo11.id}}" enctype="multipart/form-data">
                    <div class="card-body">
                        {% csrf_token %}
                        <div class="form-group">

                            <div class="form-group row">
                                <label for="" class="col-sm-2">Nombre del estudiante: </label>
                                <div class="col-sm-10">
                                    <input disabled class="form-control mb-4" type="text" name="nombreEstudiante"
                                        id="nombreEstudianteModelo11{{modelo11.id}}"
                                        value="{% if modelo11.nombreEstudiante %}{{modelo11.nombreEstudiante}}{% endif %}">

                                </div>
                            </div>

                            <div class="form-group row">
                                <label for="" class="col-sm-2">Fecha: </label>
                                <div class="col-sm-10">
                                    <input disabled class="form-control mb-4" type="text" name="fecha"
                                        id="fechaModelo11{{modelo11.id}}"
                                        value="{% if modelo11.fecha %}{{modelo11.fecha}}{% endif %}">
                                </div>
                            </div>


                            <label for="">Descripción: </label>
                            <textarea disabled class="form-control mb-4" name="descripcion"
                                id="descripcionModelo11{{modelo11.id}}" cols="30"
                                rows="5">{% if modelo11.descripcion %}{{modelo11.descripcion}}{% endif %}</textarea>

                            <input disabled class="form-control mb-4" disabled type="file" name="anexo"
                                id="anexoModelo11{{modelo11.id}}">

                            {%if modelo11.anexoPdf %}
                            <strong>Actualmente: </strong><a
                                href="{{modelo11.anexoPdf.url}}">{{modelo11.anexoPdf.name}}</a>
                            {% endif %}

                            <div class="justify-content-end d-flex">
                                <button onclick="modelo11Actualizar('{{modelo11.id}}')" type="button"
                                    class="btn btn-success p-2 mr-2" title="Guardar cambios"><i
                                        class="fas fa-save">&nbsp;
                                        Guardar</i></button>
                                <button type="button" class="btn btn-primary p-2 mr-2"
                                    onclick="modelo11Editar('{{modelo11.id}}')" id="{{modelo11.id}}"
                                    title="Editar entrada"><i class="fas fa-edit">&nbsp;Editar</i></button>
                                <button type="button" class="btn btn-danger  p-2 mr-2"
                                    onclick="modelo11Eliminar('{{modelo11.id}}')" title="Eliminar entrada"><i
                                        class="fas fa-trash-alt">&nbsp;Eliminar</i></button>
                            </div>

                        </div>

                    </div>
                </form>
                <hr>
                {% endif %}

                {% if forloop.last %}
                <button onclick="submodelo1Crear('{{modelo1.id}}', '{{modelo1.nombreDeSeccion}}',{{modelo1.orden}})"
                    type="button" id="crear" class="btn btn-danger"><i class="fas fa-plus-circle"></i>
                    Agregar
                    entrada</button>
                {%endif%}

                {% endfor %}
            </li>
            {% endif %}
            <!--Fin Numeral 54 modelo 11 -->

            <!--Numeral 55-56 Modelo 11-->
            {% if numeral.orden == 55 or numeral.orden == 56 %}
            <li>
                {% for modelo11 in modelo11 %}

                {% if modelo11.orden == numeral.orden %}
                <form id="modelo11{{modelo11.id}}" enctype="multipart/form-data">
                    <div class="card-body">
                        {% csrf_token %}
                        <div class="form-group">

                            <div class="form-group row">
                                <label for="" class="col-sm-2">Fecha o periodo: </label>
                                <div class="col-sm-10">
                                    <input disabled class="form-control mb-4" type="text" name="fechaPeriodo"
                                        id="fechaPeriodoModelo11{{modelo11.id}}"
                                        value="{% if modelo11.fechaPeriodo %}{{modelo11.fechaPeriodo}}{% endif %}">

                                </div>
                            </div>

                            <label for="">Descripción: </label>
                            <textarea disabled class="form-control mb-4" name="descripcion"
                                id="descripcionModelo11{{modelo11.id}}" cols="30"
                                rows="5">{% if modelo11.descripcion %}{{modelo11.descripcion}}{%endif%}</textarea>

                            <input disabled class="form-control mb-4" disabled type="file" name="anexo"
                                id="anexoModelo11{{modelo11.id}}">

                            {%if modelo11.anexoPdf %}
                            <strong>Actualmente: </strong><a
                                href="{{modelo11.anexoPdf.url}}">{{modelo11.anexoPdf.name}}</a>
                            {% endif %}

                            <div class="justify-content-end d-flex">
                                <button onclick="modelo11Actualizar('{{modelo11.id}}')" type="button"
                                    class="btn btn-success p-2 mr-2" title="Guardar cambios"><i
                                        class="fas fa-save">&nbsp;
                                        Guardar</i></button>
                                <button type="button" class="btn btn-primary p-2 mr-2"
                                    onclick="modelo11Editar('{{modelo11.id}}')" id="{{modelo11.id}}"
                                    title="Editar entrada"><i class="fas fa-edit">&nbsp;Editar</i></button>
                                <button type="button" class="btn btn-danger  p-2 mr-2"
                                    onclick="modelo11Eliminar('{{modelo11.id}}')" title="Eliminar entrada"><i
                                        class="fas fa-trash-alt">&nbsp;Eliminar</i></button>
                            </div>
                        </div>

                    </div>
                </form>
                <hr>
                {% endif %}

                {% if forloop.last %}
                <button onclick="submodelo1Crear('{{modelo1.id}}', '{{modelo1.nombreDeSeccion}}',{{modelo1.orden}})"
                    type="button" id="crear" class="btn btn-danger"><i class="fas fa-plus-circle"></i>
                    Agregar
                    entrada</button>
                {%endif%}

                {% endfor %}
            </li>
            {% endif %}
            <!--Fin Numeral 55-56 modelo 11 -->

            <!--Numeral 57 Modelo15-->
            {% if numeral.orden == 57 %}
            <li>
                {% for modelo15 in modelo15 %}

                {% if modelo15.orden == numeral.orden %}
                <form id="modelo15{{modelo15.id}}" enctype="multipart/form-data">
                    <div class="card-body">
                        {% csrf_token %}
                        <div class="form-group">

                            <label for="">Descripción: </label>
                            <textarea disabled class="form-control mb-4" name="descripcion"
                                id="descripcionModelo15{{modelo15.id}}" cols="30"
                                rows="5">{% if modelo15.descripcion %}{{modelo15.descripcion}}{% endif %}</textarea>

                            <input disabled class="form-control mb-4" type="file" name="anexo"
                                id="anexoModelo15{{modelo15.id}}">

                            {%if modelo15.anexoPdf %}
                            <strong>Actualmente: </strong><a
                                href="{{modelo15.anexoPdf.url}}">{{modelo15.anexoPdf.name}}</a>
                            {% endif %}

                            <div class="justify-content-end d-flex">
                                <button onclick="modelo15Actualizar('{{modelo15.id}}')" type="button"
                                    class="btn btn-success p-2 mr-2" title="Guardar cambios"><i
                                        class="fas fa-save">&nbsp;
                                        Guardar</i></button>
                                <button type="button" class="btn btn-primary p-2 mr-2"
                                    onclick="modelo15Editar('{{modelo15.id}}')" id="{{modelo15.id}}"
                                    title="Editar entrada"><i class="fas fa-edit">&nbsp;Editar</i></button>
                                <button type="button" class="btn btn-danger  p-2 mr-2"
                                    onclick="modelo15Eliminar('{{modelo15.id}}')" title="Eliminar entrada"><i
                                        class="fas fa-trash-alt">&nbsp;Eliminar</i></button>
                            </div>

                        </div>

                    </div>
                </form>
                <hr>
                {% endif %}

                {% if forloop.last %}
                <button onclick="submodelo1Crear('{{modelo1.id}}', '{{modelo1.nombreDeSeccion}}',{{modelo1.orden}})"
                    type="button" id="crear" class="btn btn-danger"><i class="fas fa-plus-circle"></i>
                    Agregar
                    entrada</button>
                {%endif%}

                {% endfor %}
            </li>
            {% endif %}
            <!--Numeral 57 Modelo15-->

            <!--modelo 12 numeral 58 -->
            {% if numeral.orden == 58 %}
            <li>
                {% for modelo12 in modelo12 %}

                {% if modelo12.orden == numeral.orden %}
                <form id="modelo12{{modelo12.id}}" enctype="multipart/form-data">
                    <div class="card-body">
                        {% csrf_token %}
                        <div class="form-group">

                            <div class="form-group row">
                                <label for="">Laboratorio o taller: </label>
                                <div class="col-sm-10">
                                    <input disabled class="form-control mb-4" type="text" name="laboratorioTaller"
                                        id="laboratorioTallerModelo12{{modelo12.id}}"
                                        value="{% if modelo12.laboratorioTaller %}{{modelo12.laboratorioTaller}}{% endif %}">
                                </div>
                            </div>

                            <input disabled class="form-control mb-4" type="file" name="anexo"
                                id="anexoModelo12{{modelo12.id}}">

                            {%if modelo12.anexoPdf %}
                            <strong>Actualmente: </strong><a
                                href="{{modelo12.anexoPdf.url}}">{{modelo12.anexoPdf.name}}</a>
                            {% endif %}

                            <div class="justify-content-end d-flex">
                                <button onclick="modelo12Actualizar('{{modelo12.id}}')" type="button"
                                    class="btn btn-success p-2 mr-2" title="Guardar cambios"><i
                                        class="fas fa-save">&nbsp;
                                        Guardar</i></button>
                                <button type="button" class="btn btn-primary p-2 mr-2"
                                    onclick="modelo12Editar('{{modelo12.id}}')" id="{{modelo12.id}}"
                                    title="Editar entrada"><i class="fas fa-edit">&nbsp;Editar</i></button>
                                <button type="button" class="btn btn-danger  p-2 mr-2"
                                    onclick="modelo12Eliminar('{{modelo12.id}}')" title="Eliminar entrada"><i
                                        class="fas fa-trash-alt">&nbsp;Eliminar</i></button>
                            </div>
                        </div>

                    </div>
                </form>
                <hr>
                {% endif %}

                {% if forloop.last %}
                <button onclick="submodelo1Crear('{{modelo1.id}}', '{{modelo1.nombreDeSeccion}}',{{modelo1.orden}})"
                    type="button" id="crear" class="btn btn-danger"><i class="fas fa-plus-circle"></i>
                    Agregar
                    entrada</button>
                {%endif%}

                {% endfor %}
            </li>
            {% endif %}
            <!--Fin Numeral 58 Modelo12-->

            <!--modelo 13 numeral 59 -->
            {% if numeral.orden == 59 %}
            <li>
                {% for modelo13 in modelo13 %}

                {% if modelo13.orden == numeral.orden %}
                <form id="modelo13{{modelo13.id}}" enctype="multipart/form-data">
                    <div class="card-body">
                        {% csrf_token %}
                        <div class="form-group">

                            <div class="form-group row">
                                <label for="" class="col-sm-2">Agencia(s) financiadora(s):</label>
                                <div class="col-sm-10">
                                    <input disabled class="form-control mb-4" type="text" name="agenciasFinancieras"
                                        id="agenciaFinanciadoraModelo13{{modelo13.id}}"
                                        value="{% if modelo13.agenciasFinancieras %}{{modelo13.agenciasFinancieras}}{% endif %}">
                                </div>
                            </div>

                            <label for="">Descripción: </label>
                            <textarea disabled class="form-control mb-4" name="descripcion"
                                id="descripcionModelo13{{modelo13.id}}" cols="30"
                                rows="5">{% if modelo13.descripcion %}{{modelo13.descripcion}}{% endif %}</textarea>

                            <input disabled class="form-control mb-4" type="file" name="anexo"
                                id="anexoModelo13{{modelo13.id}}">

                            {%if modelo13.anexoPdf %}
                            <strong>Actualmente: </strong><a
                                href="{{modelo13.anexoPdf.url}}">{{modelo13.anexoPdf.name}}</a>
                            {% endif %}

                            <div class="justify-content-end d-flex">
                                <button onclick="modelo13Actualizar('{{modelo13.id}}')" type="button"
                                    class="btn btn-success p-2 mr-2" title="Guardar cambios"><i
                                        class="fas fa-save">&nbsp;
                                        Guardar</i></button>
                                <button type="button" class="btn btn-primary p-2 mr-2"
                                    onclick="modelo13Editar('{{modelo13.id}}')" id="{{modelo13.id}}"
                                    title="Editar entrada"><i class="fas fa-edit">&nbsp;Editar</i></button>
                                <button type="button" class="btn btn-danger  p-2 mr-2"
                                    onclick="modelo13Eliminar('{{modelo13.id}}')" title="Eliminar entrada"><i
                                        class="fas fa-trash-alt">&nbsp;Eliminar</i></button>
                            </div>
                        </div>

                    </div>
                </form>
                <hr>
                {% endif %}

                {% if forloop.last %}
                <button onclick="submodelo1Crear('{{modelo1.id}}', '{{modelo1.nombreDeSeccion}}',{{modelo1.orden}})"
                    type="button" id="crear" class="btn btn-danger"><i class="fas fa-plus-circle"></i>
                    Agregar
                    entrada</button>
                {%endif%}

                {% endfor %}
            </li>
            {% endif %}
            <!--Fin Numeral 59 Modelo13-->

            <!--modelo 15 numeral 60-->
            {% if numeral.orden == 60 %}
            <li>
                {% for modelo15 in modelo15 %}

                {% if modelo15.orden == numeral.orden %}
                <form id="modelo15{{modelo15.id}}" enctype="multipart/form-data">
                    <div class="card-body">
                        {% csrf_token %}
                        <div class="form-group">

                            <label for="">Descripción: </label>
                            <textarea disabled class="form-control mb-4" name="descripcion"
                                id="descripcionModelo15{{modelo15.id}}" cols="30"
                                rows="5">{% if modelo15.descripcion %}{{modelo15.descripcion}}{% endif %}</textarea>

                            <input disabled class="form-control mb-4" type="file" name="anexo"
                                id="anexoModelo15{{modelo15.id}}">

                            {%if modelo15.anexoPdf %}
                            <strong>Actualmente: </strong><a
                                href="{{modelo15.anexoPdf.url}}">{{modelo15.anexoPdf.name}}</a>
                            {% endif %}

                            <div class="justify-content-end d-flex">
                                <button onclick="modelo15Actualizar('{{modelo15.id}}')" type="button"
                                    class="btn btn-success p-2 mr-2" title="Guardar cambios"><i
                                        class="fas fa-save">&nbsp;
                                        Guardar</i></button>
                                <button type="button" class="btn btn-primary p-2 mr-2"
                                    onclick="modelo15Editar('{{modelo15.id}}')" id="{{modelo15.id}}"
                                    title="Editar entrada"><i class="fas fa-edit">&nbsp;Editar</i></button>
                                <button type="button" class="btn btn-danger  p-2 mr-2"
                                    onclick="modelo15Eliminar('{{modelo15.id}}')" title="Eliminar entrada"><i
                                        class="fas fa-trash-alt">&nbsp;Eliminar</i></button>
                            </div>

                        </div>

                    </div>
                </form>
                <hr>
                {% endif %}

                {% if forloop.last %}
                <button onclick="submodelo1Crear('{{modelo1.id}}', '{{modelo1.nombreDeSeccion}}',{{modelo1.orden}})"
                    type="button" id="crear" class="btn btn-danger"><i class="fas fa-plus-circle"></i>
                    Agregar
                    entrada</button>
                {%endif%}

                {% endfor %}
            </li>
            {% endif %}
            <!--Fin Numeral 60 Modelo15-->