{% extends 'core/header.html' %}
    {% load static %}
    {%block home%}
    
        <section class="container" style="padding-top: 350px;">
            <div class="row text-center d-flex justify-content-center">
                
                
                <div class="col-11 col-md-2">
                   <a href="{% url 'registration:actualizar-perfil' %}"><img id="perfilAdmin" class="perfil" src="{% static 'core/media/perfil.png'%}" alt=""><br></a>
                    <strong><p class="text-dark">Perfil</p></strong>
                </div>
        
                <div class="col-11 col-md-2">
                    <a href="{% url 'investigadores:reporte-productividad' %}"><img class="reporte_p" src="{% static 'core/media/reporte.png'%}" alt=""><br></a>
                    <strong><p class="text-dark">Reporte de <br>productividad</p></strong>
                </div>
    
                <div class="col-11 col-md-2">
                    <a href="{% url 'biblioteca:biblioteca_personal'%}"><img class="biblioteca" src="{% static 'core/media/biblioteca.png'%}" alt=""><br></a>
                    <strong><p class="text-dark">Biblioteca</p></strong>
                </div>
    
                <div class="col-11 col-md-2">
                    <a href="{% url 'reporteSNI:instruccionesSNI' %}"> <img class="reporte_SNI" src="{% static 'core/media/sni.png'%}" alt=""><br></a>
                    <strong><p class="text-dark">Reporte SNI</p></strong>
                </div>
    <!--
                <div class="col-11 col-md-2">
                    <a href="{% url 'metricas:metricasForm' %}"><img class="metrica_ADS" src="{% static 'core/media/metricas.png'%}" alt=""></a><br>
                    <strong><p class="text-dark">Metrica ADS</p></strong>
                </div>
    -->
            </div>
        </section>

    {% endblock %}
    