{% load name %}
<div id="numerales" class="mb-4 container">

    <div id="accordion" class="card">
        {% for numeral in numeralName %}

        <div class="link card-header p-4" onclick="icono({{numeral.id}})">
            <span class="text-primary" style="cursor: pointer;">{{numeral}}&nbsp;<i
                    class="fa fa-chevron-down numeral{{numeral.id}}"></i></span>
            <i onclick="glosario()" style="font-size: 30px; cursor: pointer;" data-toggle="modal"
                class="far fa-question-circle float-right"></i>
        </div>

        <div class="submenu card-body">

            <!--modelo 14 numeral 61-->
            {% if numeral.orden == 61 %}
            <div class="card-body">
                {% for modelo14 in numeral_61 %}

                <form class="pt-2 pr-4 pl-4" id="modelo14{{modelo14.id}}" name="numeral61" type="post"
                    enctype="multipart/form-data">

                    <div class="form-group">
                        {% csrf_token %}
                        <div class="form-group row">
                            <label for="telescopio" class="col-sm-2 col-form-label">Telescopio, instrumento,
                                infraestructura:</label>
                            <div class="col-sm-10">
                                <input disabled class="form-control mb-1" type="text" name="telescopio"
                                    id="telescopioModelo14{{modelo14.id}}"
                                    value="{% if modelo14.TelescopioInstrumentoInfra %}{{modelo14.TelescopioInstrumentoInfra}}{% endif %}">
                            </div>
                        </div>


                        <div class="form-group row">
                            <label for="" class="col-sm-2 col-form-label">URL: </label>
                            <div class="col-sm-10">
                                <input disabled class="form-control mb-1" type="text" name="url"
                                    id="urlModelo14{{modelo14.id}}"
                                    value="{% if modelo14.url %} {{modelo14.url}}{% endif %}">
                            </div>

                        </div>

                        <label for="">Descripción: </label>
                        <textarea disabled class="form-control mb-1" name="descripcion"
                            id="descripcionModelo14{{modelo14.id}}" cols="30"
                            rows="5">{% if modelo14.descripcion %} Descripción: {{modelo14.descripcion}} {% endif %}</textarea>


                        <input disabled class="form-control" accept=".pdf, image/*" type="file" name="anexo"
                            id="anexoModelo14{{modelo14.id}}">
                        <small class="mb-2">Tamaño máximo: 5 Mb</small>

                        {%if modelo14.anexos %}
                        <strong>Actualmente: </strong><a
                            href="{{modelo14.anexos.url}}">{{modelo14.anexos.name|nombreFile}}</a>
                        {% endif %}

                        <div class="justify-content-end d-flex">
                            <div class="row">
                                <div class="col-12">
                                    <button onclick="modelo14Actualizar({{modelo14.id}})" type="button"
                                        class="btn btn-success" title="Guardar cambios">
                                        <i class="fas fa-save">&nbsp;Guardar</i>
                                    </button>

                                    <button onclick="desactivarCamposModelo14('{{modelo14.id}}')"
                                        class="btn btn-warning text-white" type="reset">
                                        <i class="fas fa-ban text-white">&nbsp;Cancelar</i>
                                    </button>

                                    <button type="button" class="btn btn-primary"
                                        onclick="modelo14Editar({{modelo14.id}})" id="{{modelo14.id}}"
                                        title="Editar entrada">
                                        <i class="fas fa-edit">&nbsp;Editar</i>
                                    </button>

                                    <button type="button" class="btn btn-danger"
                                        onclick="modelo14Eliminar({{modelo14.id}})" title="Eliminar entrada">
                                        <i class="fas fa-trash-alt">&nbsp;Eliminar</i>
                                    </button>
                                </div>
                            </div>
                        </div>

                    </div>
                </form>
                <hr>
                {% if forloop.last %}
                <button onclick="modelo14Crear({{numeral.id}},{{periodoActual.id}})" type="button"
                    id="modelo14Crear{{numeral.id}}" class="btn btn-danger"><i class="fas fa-plus-circle"></i>&nbsp;
                    Agregar entrada</button>
                <p style="cursor: pointer;" class="text-primary link float-right">Cerrar &nbsp;<i
                        class="fa fa-chevron-up"></i></p>
                {% endif %}

                {% empty %}
                <div class="alert alert-danger m-4" id="sinEntradas{{numeral.id}}" role="alert">
                    <strong>
                        <p class="text-center ">Sin entradas</p>
                    </strong>
                </div>
                <button onclick="modelo14Crear({{numeral.id}}, {{periodoActual.id}})" type="button"
                    id="modelo14Crear{{numeral.id}}" class="btn btn-danger"><i class="fas fa-plus-circle"></i>&nbsp;
                    Agregar entrada</button>

                <button title="Asignar informacion anterior" type="button" class="btn btn-link" id="infoAnteriorModelo14{{numeral.id}}"
                    onclick="infoAnteriorModelo14({{periodoActual.id}}, {{numeral.id}})">Importar periodo
                    anterior</button>
                <p style="cursor: pointer;" class="text-primary link float-right">Cerrar &nbsp;<i
                        class="fa fa-chevron-up"></i></p>
                {% endfor %}
            </div>
            {% endif %}
            <!--Fin Numeral 61 Modelo14-->
        </div>

        {% endfor %}
    </div>



</div>


{% block JsCode %}

<script>
    function icono(id) {
        $(".numeral" + id).toggleClass('fas fa-chevron-up')
    }
    function glosario() {
        $("#accionModal").text("Glosario");
        $("#textoModal").html(`<table class="table table-bordered">
                        <thead>
                            <tr>
                                <th class="text-center" colspan="2">V. INFORMACIÓN ADICIONAL</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for glosario in glosario %}
                            <tr>
                                <td width=50%>{{ glosario.numerales|safe }}</td>
                                <td width=50%>{{ glosario.explicacion|safe }}</td>
                            </tr>
                            {% endfor %}

                        </tbody>
                    </table>`) //¿Desea eliminar este Item?
        $("#icono").html("")
        $("#footer").html(`<button type="button" class="btn btn-danger btn-block" data-dismiss="modal">Cerrar</button>`)
        $('#modalDinamico').modal('show'); // abrir
    }

    $(function () {
        var Accordion = function (el, multiple) {
            this.el = el || {};
            this.multiple = multiple || false;

            // Variables privadas
            var links = this.el.find('.link');
            // Evento
            links.on('click', { el: this.el, multiple: this.multiple }, this.dropdown)
        }

        Accordion.prototype.dropdown = function (e) {
            var $el = e.data.el;
            $this = $(this),
                $next = $this.next();

            $next.slideToggle();
            $this.parent().toggleClass('open');

            if (!e.data.multiple) {
                $el.find('.submenu').not($next).slideUp().parent().removeClass('open');
            };
        }

        var accordion = new Accordion($('#accordion'), false);

        $('[data-toggle="modal"]').popover({
            trigger: 'hover',
            html: true,
            title: "Glosario:",
            content: `<small class="form-text text-muted mb-3">
                                No aplica
                                </small>`
        });
    });

    $(document).on('change', 'input[type="file"]', function () {
        var fileName = this.files[0].name;
        var fileSize = this.files[0].size;

        if (fileSize > 5242880) {
            $("#accionModal").text("Archivo invalido");
            $("#textoModal").text("El archivo no debe superar los 5MB") //¿Desea eliminar este Item?
            $("#icono").addClass('fas fa-exclamation text-danger')
            $("#footer").html(`<button class="btn btn-primary" data-dismiss="modal">Aceptar</button>`)
            $('#modalDinamico').modal('show'); // abrir
            this.value = '';
        } else {
            // recuperamos la extensión del archivo
            var ext = fileName.split('.').pop();

            // Convertimos en minúscula porque 
            // la extensión del archivo puede estar en mayúscula
            ext = ext.toLowerCase();

            // console.log(ext);
            switch (ext) {
                case 'jpg':
                case 'jpeg':
                case 'png':
                case 'pdf': break;
                default:
                    $("#accionModal").text("Archivo invalido");
                    $("#textoModal").text("El archivo no tiene la extensión adecuada") //¿Desea eliminar este Item?
                    $("#icono").addClass('fas fa-exclamation text-danger')
                    $("#footer").html(`<button class="btn btn-primary" data-dismiss="modal">Aceptar</button>`)
                    $('#modalDinamico').modal('show'); // abrir
                    this.value = ''; // reset del valor
            }
        }
    });
</script>

<script>
    //Modelo 14
    function modelo14Editar(id) {
        $("#telescopioModelo14" + id).prop("disabled", false);
        $("#descripcionModelo14" + id).prop("disabled", false);
        $("#urlModelo14" + id).prop("disabled", false);
        $("#anexoModelo14" + id).prop("disabled", false);
        timer.reset(540000);
    }
    function desactivarCamposModelo14(id) {
        $("#telescopioModelo14" + id).prop("disabled", true);
        $("#descripcionModelo14" + id).prop("disabled", true);
        $("#urlModelo14" + id).prop("disabled", true);
        $("#anexoModelo14" + id).prop("disabled", true);
    }
    function modelo14Actualizar(id) {

        var formData = new FormData(document.getElementById("modelo14" + id))
        formData.append("id", id);

        $.ajax({
            url: '{% url "investigadores:actualizar-modelo14" %}',
            type: "post",
            data: formData,
            enctype: "multipart/form-data",
            cache: false,
            contentType: false,
            processData: false,
            dataType: 'html',

            success: function (data) {
                toastr.success('Entrada actualizada correctamente', 'Operacion exitosa')
                desactivarCamposModelo14(id);
                timer.reset(540000);
            }
        });
        return false;
    }
    function modelo14Crear(numeral, periodo) {
        $.ajax({
            type: "GET",
            url: '{% url "investigadores:crear-modelo14" %}',
            data: {
                "numeral": numeral,
                "periodo": periodo,
            },
            dataType: "Json",
            success: function (response) {
                toastr.success('Entrada creada', 'Operacion exitosa')
                $("#sinEntradas" + numeral).remove()
                $("#modelo14Crear" + numeral).after(`
                <button onclick="modelo14Crear(${numeral},${periodo})" type="button"
                    id="modelo14Crear${numeral}" class="btn btn-danger">
                    <i class="fas fa-plus-circle"></i>Agregar entrada</button>
                `)
                $("#modelo14Crear" + numeral).remove()
                dibujarmodelo14(response)
                timer.reset(540000);
            }
        });
    }
    function infoAnteriorModelo14(periodo, numeral) {

        $.ajax({
            type: "GET",
            url: "{% url 'investigadores:info-anteriorModelo14' %}",
            data: {
                'periodo': periodo,
                'numeral': numeral,
            },
            dataType: "json",
            success: function (response) {

                $('#sinEntradas' + numeral).remove()
                for (var i = 0; i < response.descripcion.length; i++) {    
                    data = {}
                    data['numeral'] = numeral;
                    data['id'] = response.ids[i];
                    
                    dibujarmodelo14(data)
                    $("#telescopioModelo14" + response.ids[i]).val(response.telescopio[i]);
                    $("#urlModelo14" + response.ids[i]).val(response.urls[i]);
                    $("#descripcionModelo14" + response.ids[i]).val(response.descripcion[i]);
                }

                $("#infoAnteriorModelo14"+numeral).prop('disabled','true');
                toastr.info("Operación exitosa", "información copiada")
                timer.reset(540000);
            }
        });
    }
    function modelo14Eliminar(id) {
        $("#accionModal").text("Eliminar Item");
        $("#textoModal").html(`<h5>¿Desea eliminar este Item de su biblioteca?</h5>`) //¿Desea eliminar este Item?
        $("#icono").html(`<i class="far fa-question-circle text-danger"></i>`)
        $("#footer").html(`<button class="btn btn-primary" onclick="modelo14EliminarConfirm(${id})"><i class="fas fa-check"></i> Aceptar</button>
            <button type="button" class="btn btn-danger" data-dismiss="modal"><i class="fas fa-times"></i> Cancelar</button>`)
        $('#modalDinamico').modal('show'); // abrir
    }
    function modelo14EliminarConfirm(id) {
        var csrfmiddlewaretoken = $('input[name="csrfmiddlewaretoken"]').val().trim();
        $.ajax({
            url: '{% url "investigadores:eliminar-modelo14" %}',
            type: "POST",
            data: {
                'id': id,
                'csrfmiddlewaretoken': csrfmiddlewaretoken,
            },
            dataType: 'json',
            success: function (data) {
                if (data.deleted) {
                    $("#modelo14" + id).remove();
                    $("#modelo14Crear" + id).remove();
                    toastr.error('Entrada eliminada exitosamente', 'Operación exitosa')
                    timer.reset(540000);
                }
            }
        });

        $('#ItemEliminar-id').trigger("reset");
        $('#modalDinamico').modal('hide');//cierra modal
        return false;
    }
    function dibujarmodelo14(data) {

        $("#modelo14Crear" + `${data.numeral}`).before(
            `<form id="modelo14${data.id}" type="post" enctype="multipart/form-data">
            <div class="pt-4 pr-4 pl-4">

                <div class="form-group">
                    {% csrf_token %}
                    <div class="form-group row">
                        <label for="telescopio" class="col-sm-2 col-form-label">Telescopio, instrumento,
                            infraestructura:</label>
                        <div class="col-sm-10">
                            <input class="form-control mb-1" type="text" name="telescopio"
                                id="telescopioModelo14${data.id}"
                                value="">
                        </div>
                    </div>


                    <div class="form-group row">
                        <label for="" class="col-sm-2 col-form-label">URL: </label>
                        <div class="col-sm-10">
                            <input class="form-control mb-1" type="text" name="url"
                                id="urlModelo14${data.id}"
                                value="">
                        </div>

                    </div>

                    <label for="">Descripción: </label>
                    <textarea class="form-control mb-1" name="descripcion"
                        id="descripcionModelo14${data.id}" cols="30"
                        rows="5">{{Modelo14.descripcion}}</textarea>


                    <input class="form-control" type="file" name="anexo"
                        id="anexoModelo14${data.id}">
                        <small class="mb-4">Tamaño máximo: 5 Mb</small>


                        <div class="justify-content-end d-flex">
                            <div class="row">
                                <div class="col-12">
                                    <button onclick="modelo14Actualizar(${data.id})" type="button" class="btn btn-success" title="Guardar cambios">
                                        <i class="fas fa-save">&nbsp;Guardar</i>
                                    </button>

                                    <button onclick="desactivarCamposModelo14(${data.id})" class="btn btn-warning text-white" type="reset">
                                        <i class="fas fa-ban text-white">&nbsp;Cancelar</i>
                                    </button>
    
                                    <button type="button" class="btn btn-primary" onclick="modelo14Editar(${data.id})" id="{{modelo14.id}}" title="Editar entrada">
                                        <i class="fas fa-edit">&nbsp;Editar</i>
                                    </button>

                                    <button type="button" class="btn btn-danger" onclick="modelo14Eliminar(${data.id})" title="Eliminar entrada">
                                        <i class="fas fa-trash-alt">&nbsp;Eliminar</i>
                                    </button>
                                </div>
                            </div>   
                        </div>
                </div>

            </div>
        </form>
        <hr>
    `
        );
    }
    //Fin modelo14

</script>

{% endblock %}