{% extends 'core/header_reportes.html' %}
<!-- Secciones de la documentación-->
{%block contenido%}
<section class="container mb-2">

    <nav class="nav nav-tabs d-flex justify-content-between text-center">

        <a id="investigacionCientifica" class="nav-item nav-link disabled active text-primary" onclick="investigacionCientifica({{periodoActual.id}})" 
            style="cursor: pointer;">I. Investigación<br> Cientifica.</a>

        <a id="formacionRH" class="nav-item nav-link" onclick="formacion_RH({{periodoActual.id}})" 
            style="cursor: pointer;">II. Formación de<br> RRHH.</a>

        <a id="desarrolloTec" class="nav-item nav-link" onclick="desarrollo_tec_innov({{periodoActual.id}})"
            style="cursor: pointer;">III. Desarrollo<br> Tec. e Innov.</a>

        <a id="apoyoInstitucional" class="nav-item nav-link" onclick="apoyoInstitucional({{periodoActual.id}})"
            style="cursor: pointer;">IV. Apoyo<br> Institucional</a>

        <a id="informacionAdicional" class="nav-item nav-link" onclick="informacionAdicional({{periodoActual.id}})"
            style="cursor: pointer;">V. Información <br>Adicional.</a>

    </nav>
</section>

<div id="contenido">
    
</div>

<ul class="pagination justify-content-center">

    <li id="investigacionCientificaPag" class="page-item active"><a class="page-link"
            onclick="investigacionCientifica({{periodoActual.id}})">1</a></li>
    <li id="formacionRHPag" class="page-item"><a class="page-link" onclick="formacion_RH({{periodoActual.id}})">2</a>
    </li>
    <li id="desarrolloTecPag" class="page-item"><a class="page-link"
            onclick="desarrollo_tec_innov({{periodoActual.id}})">3</a></li>
    <li id="apoyoInstitucionalPag" class="page-item"><a class="page-link"
            onclick="apoyoInstitucional({{periodoActual.id}})">4</a></li>
    <li id="informacionAdicionalPag" class="page-item"><a class="page-link"
            onclick="informacionAdicional({{periodoActual.id}})">5</a></li>

</ul>

{%  endblock %}

{% block JsCode %}

<script>

    function investigacionCientifica(periodo) {
        var csrfmiddlewaretoken = $('input[name="csrfmiddlewaretoken"]').val().trim();

        $.ajax({
            type: "POST",
            url: "{% url 'investigadores:investigacion_cientifica' %}",
            data: {
                'periodoActual': periodo,
                "csrfmiddlewaretoken": csrfmiddlewaretoken,
            },
            dataType: "html",
            success: function (response) {
                $("#numerales").remove()
                $("#contenido").html(response);
                //Navbar
                $("#investigacionCientifica").addClass('disabled active text-primary')
                $("#formacionRH").removeClass('disabled active text-primary')
                $("#desarrolloTec").removeClass('disabled active text-primary')
                $("#apoyoInstitucional").removeClass('disabled active text-primary')
                $("#informacionAdicional").removeClass('disabled active text-primary')

                //Paginador
                $("#investigacionCientificaPag").addClass('active')
                $("#formacionRHPag").removeClass('active')
                $("#desarrolloTecPag").removeClass('active')
                $("#apoyoInstitucionalPag").removeClass('active')
                $("#informacionAdicionalPag").removeClass('active')
            }
        });

    }

    function formacion_RH(periodo) {
        var csrfmiddlewaretoken = $('input[name="csrfmiddlewaretoken"]').val().trim();

        $.ajax({
            type: "POST",
            url: "{% url 'investigadores:formacion_RH' %}",
            data: {
                'periodoActual': periodo,
                "csrfmiddlewaretoken": csrfmiddlewaretoken,
            },
            dataType: "html",
            success: function (response) {
                $("#numerales").remove()
                $("#contenido").html(response);
                //Navbar
                $("#investigacionCientifica").removeClass('disabled active text-primary')
                $("#formacionRH").addClass('disabled active text-primary')
                $("#desarrolloTec").removeClass('disabled active text-primary')
                $("#apoyoInstitucional").removeClass('disabled active text-primary')
                $("#informacionAdicional").removeClass('disabled active text-primary')

                //Paginador
                $("#investigacionCientificaPag").removeClass('active')
                $("#formacionRHPag").addClass('active')
                $("#desarrolloTecPag").removeClass('active')
                $("#apoyoInstitucionalPag").removeClass('active')
                $("#informacionAdicionalPag").removeClass('active')

            }
        });

    }

    function desarrollo_tec_innov(periodo) {
        var csrfmiddlewaretoken = $('input[name="csrfmiddlewaretoken"]').val().trim();

        $.ajax({
            type: "POST",
            url: "{% url 'investigadores:DTI' %}",
            data: {
                'periodoActual': periodo,
                "csrfmiddlewaretoken": csrfmiddlewaretoken,
            },
            dataType: "html",
            success: function (response) {
                $("#numerales").remove()
                $("#contenido").html(response);
                //Navbar
                $("#investigacionCientifica").removeClass('disabled active text-primary')
                $("#formacionRH").removeClass('disabled active text-primary')
                $("#desarrolloTec").addClass('disabled active text-primary')
                $("#apoyoInstitucional").removeClass('disabled active text-primary')
                $("#informacionAdicional").removeClass('disabled active text-primary')

                //Paginador
                $("#investigacionCientificaPag").removeClass('active')
                $("#formacionRHPag").removeClass('active')
                $("#desarrolloTecPag").addClass('active')
                $("#apoyoInstitucionalPag").removeClass('active')
                $("#informacionAdicionalPag").removeClass('active')
            }
        });


    }

    function apoyoInstitucional(periodo) {
        var csrfmiddlewaretoken = $('input[name="csrfmiddlewaretoken"]').val().trim();

        $.ajax({
            type: "POST",
            url: "{% url 'investigadores:apoyo_institucional' %}",
            data: {
                'periodoActual': periodo,
                "csrfmiddlewaretoken": csrfmiddlewaretoken,
            },
            dataType: "html",
            success: function (response) {
                $("#numerales").remove()
                $("#contenido").html(response);
                //Navbar
                $("#investigacionCientifica").removeClass('disabled active text-primary')
                $("#formacionRH").removeClass('disabled active text-primary')
                $("#desarrolloTec").removeClass('disabled active text-primary')
                $("#apoyoInstitucional").addClass('disabled active text-primary')
                $("#informacionAdicional").removeClass('disabled active text-primary')

                //Paginador
                $("#investigacionCientificaPag").removeClass('active')
                $("#formacionRHPag").removeClass('active')
                $("#desarrolloTecPag").removeClass('active')
                $("#apoyoInstitucionalPag").addClass('active')
                $("#informacionAdicionalPag").removeClass('active')

            }
        });

    }

    function informacionAdicional(periodo) {
        var csrfmiddlewaretoken = $('input[name="csrfmiddlewaretoken"]').val().trim();

        $.ajax({
            type: "POST",
            url: "{% url 'investigadores:informacion_adicional' %}",
            data: {
                'periodoActual': periodo,
                "csrfmiddlewaretoken": csrfmiddlewaretoken,
            },
            dataType: "html",
            success: function (response) {
                $("#numerales").remove()
                $("#contenido").html(response);

                //Navbar
                $("#investigacionCientifica").removeClass('disabled active text-primary')
                $("#formacionRH").removeClass('disabled active text-primary')
                $("#desarrolloTec").removeClass('disabled active text-primary')
                $("#apoyoInstitucional").removeClass('disabled active text-primary')
                $("#informacionAdicional").addClass('disabled active text-primary')

                //Paginador
                $("#investigacionCientificaPag").removeClass('active')
                $("#formacionRHPag").removeClass('active')
                $("#desarrolloTecPag").removeClass('active')
                $("#apoyoInstitucionalPag").removeClass('active')
                $("#informacionAdicionalPag").addClass('active')

            }
        });
    }

</script>
{% endblock %}