<!DOCTYPE html>
<html lang="es">

<head>
    <meta http-equiv="content-type" content="text/html; charset=utf8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
     <!-- Bootstrap CSS -->
     <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <title>Sistema de reportes</title>
    <style> *{ font-family: Calibri, 'Trebuchet MS', sans-serif; font-size: 11pt;  } </style>
</head>

<body>
    {% load name %}

        <header>
            <p class="text-center h5"><Strong>INAOE<br>Reporte de Productividad Unificado</Strong></p>
            <br>
        </header>

        <div class="datosInvestigador">
            <p> <strong> <u> PERIODO DEL REPORTE: {{fechaInicioP|date:"F"|upper}} - {{fechaFinP|date:"F"|upper}} DE {{fechaFinP|date:"Y"}} </u> </strong> </P>
            <p><strong>Nombre Completo: </strong>{{datosInvestigador.first_name}} {{datosInvestigador.last_name}}</p>
            <p><strong>Coordinación: </strong>Astrofisica</p>
            <p><strong>Nombramiento: </strong>{{datosInvestigador.nombramiento}}</p>
            <p><strong>Nivel del SNI: </strong>{{datosInvestigador.nivelSni}}</p>
        </div>
        


        <div class="numerales">
            {%for numeral in numeral%}
                {% if numeral.orden == 1 %}
                    <p class="text-center" ><strong>I. INVESTIGACIÓN CIENTÍFICA</strong></p>
                {% endif %}

                {% if numeral.orden == 31 %}
                    <p class="text-center" ><strong>II. FORMACIÓN DE RECURSOS HUMANOS</strong></p>
                {% endif %}

                {% if numeral.orden == 40 %}
                    <p class="text-center" ><strong>III. DESARROLLO TECNOLÓGICO E INNOVACIÓN</strong></p>
                {% endif %}

                {% if numeral.orden == 47 %}
                    <p class="text-center" ><strong>IV. APOYO INSTITUCIONAL</strong></p>
                {% endif %}

                {% if numeral.orden == 61 %}
                    <p class="text-center" ><strong>V. INFORMACIÓN ADICIONAL</strong></p>
                {% endif %}
                
                <p>{{numeral}}</p>

            <div class="campos">
                {% for biblioteca in biblioteca %} <!--Numerales 1, 2, 3, 4, 5, 7, 9, 11, 12, 13, 14 y 14a-->
                    {% if numeral.id == biblioteca.numeral_id %}
                    <ul>
                        <li>
                            <p class=".biblioteca" >
                                
                                {% if biblioteca.autores %}{{biblioteca.autores|nombreCorto:biblioteca.user.nombreCorto|safe }},{% endif %}
                                {% if biblioteca.titulo %}<i>{{biblioteca.titulo}}</i>,{% endif %}
                                {% if biblioteca.revistaPublicacion %}{{biblioteca.revistaPublicacion}},{% endif %}
                                {% if biblioteca.volumen %}{{biblioteca.volumen}},{% endif %} 
                                {% if biblioteca.fecha %}{{biblioteca.fecha|date:"Y/m"}},{% endif %}
                                {% if biblioteca.paginas %}{{biblioteca.paginas}},{% endif %}
                                {% if biblioteca.estudiantesEnArticulo%} <br>Estudiantes: <span style="color: red;">{{ biblioteca.estudiantesEnArticulo }}</span> {% else %}{% endif %}

                                {% if biblioteca.doi %}<br> DOI: <a target="blank" href="https://ui.adsabs.harvard.edu/link_gateway/{{biblioteca.bibcode}}/doi:{{biblioteca.doi}}">{{biblioteca.doi}}</a>{% endif %}
                                {% if biblioteca.bibcode %}<br> Bibcode: {{biblioteca.bibcode}} <br> {% endif %}
                                <span>URL: <a target="blank" href="{{biblioteca.url}}"> {{biblioteca.url}}</a></span>
                            </p>
                           
                        </li>
                    </ul>
                    {% endif %}
                {% endfor %} <!--Fin Numerales Biblioteca-->

                {% for modelo1 in modelo1 %}
                    {% if numeral.id == modelo1.numeral_id %}
                        <ul>
                            <li>
                                {% if modelo1.autores %} {{modelo1.autores|nombreCorto:modelo1.usuario.nombreCorto|safe }} {% endif %}
                                {% if modelo1.titulo %}<i>{{modelo1.titulo}}</i>{% endif %}
                                {% if modelo1.revistaPublicacion %}{{modelo1.revistaPublicacion}}{% endif %}
                                {% if modelo1.estudiantesEnArticulo %} <br> Estudiante(s): <span style="color: red;">{{ modelo1.estudiantesEnArticulo }}<br></span>{% endif %}
                                {% if modelo1.doi %}DOI:<a target="blank" href="#">{{modelo1.doi}}<br></a>{% endif %}
                                {% if modelo1.url %}URL: <a target="blank" href="{{modelo1.url}}">{{modelo1.url}}<br></a>{% endif %}
                                <br>
                            </li>
                        </ul>
                    {% endif %}
                {% endfor %}

                
                {% for modelo2 in modelo2 %}
                    {% if numeral.id == modelo2.numeral_id %}
                        <ul>
                            <li>
                                {% if modelo2.nombreProyecto %}{{modelo2.nombreProyecto}}{% endif %}
                                {% if modelo2.participantes %}{{modelo2.participantes}}{% endif %}
                                {% if modelo2.responsableTecParticipante %} Responsable, Técnico o Participante:{{modelo2.responsableTecParticipante}}<br> {% endif %}
                                {% if modelo2.estudiantes %}<br>Estudiantes: <span style="color: red;">{{modelo2.estudiantes}}</span><br>{% endif %}
                                {% if modelo2.descripcion %}<br>Descripción: {{modelo2.descripcion}}<br>{% endif %}
                            </li>
                        </ul>
                    {% endif %}
                {% endfor %}

                
                {% for modelo3 in modelo3 %}
                    {% if numeral.id == modelo3.numeral_id %}
                        <ul>
                            <li>
                                {% if modelo3.tituloPresentacion %}{{modelo3.tituloPresentacion}}{% endif %}
                                {% if modelo3.autores %}{{modelo3.autores}}{% endif %}
                                {% if modelo3.nombreConferencia %}{{modelo3.nombreConferencia}}{% endif %}
                                {% if modelo3.fecha %}{{modelo3.fecha}}{% endif %}
                                {% if modelo3.presentacionPoster %}{{modelo3.presentacionPoster}}{% endif %}
                                {% if modelo3.estudiantes %}<br>Estudiantes: <span style="color: red;">{{modelo3.estudiantes}}</span><br>{% endif %}
                                {% if modelo3.doi %}DOI/ISBN: {{modelo3.doi}}<br>{% endif %}
                                {% if modelo3.url %}<a target="blank" href="{{modelo3.url}}">{{modelo3.url}}</a>{% endif %}
                            </li>
                        </ul>
                    {% endif %}
                {% endfor %}

                
                {% for modelo4 in modelo4 %}
                    {% if numeral.id == modelo4.numeral_id %}
                        <ul>
                            <li>
                                {% if modelo4.nombreCompleto %}{{modelo4.nombreCompleto}}{% endif %}
                                {% if modelo4.tituloTesis %}{{modelo4.tituloTesis}}{% endif %}
                                {% if modelo4.fecha %}{{modelo4.fecha}}{% endif %}
                                {% if modelo4.url %}<a target="blank" href="{{modelo4.url}}">{{modelo4.url}}</a>{% endif %}
                            </li>
                        </ul>
                    {% endif %}
                {% endfor %}

                
                {% for modelo5 in modelo5 %}
                    {% if numeral.id == modelo5.numeral_id %}
                        <ul>
                            <li>
                                {% if modelo5.nombreCurso %}{{modelo5.nombreCurso}}{% endif %}
                                {% if modelo5.periodoNumeral %}{{modelo5.periodoNumeral}}{% endif %}
                                {% if modelo5.notas %}{{modelo5.notas}}{% endif %}
                            </li>
                        </ul>
                    {% endif %}
                {% endfor %}

                
                {% for modelo6 in modelo6 %}
                    {% if numeral.id == modelo6.numeral_id %}
                        <ul>
                            <li>
                                {% if modelo6.nombre %}{{modelo6.nombre}}{% endif %}
                                {% if modelo6.tituloTesis %}{{modelo6.tituloTesis}}{% endif %}
                                {% if modelo6.Grado %}{{modelo6.Grado}}{% endif %}
                                {% if modelo6.institucion %}{{modelo6.institucion}}{% endif %}
                                {% if modelo6.fecha %}{{modelo6.fecha}}{% endif %}
                                {% if modelo6.notas %}{{modelo6.notas}}{% endif %}
                            </li>
                        </ul>
                    {% endif %}
                {% endfor %}

                
                {% for modelo7 in modelo7 %}
                    {% if numeral.id == modelo7.numeral_id %}
                        <ul>
                            <li>
                                {%  if modelo7.autores %}{{modelo7.autores}}{% endif %}
                                {%  if modelo7.url %}{{modelo7.url}}{% endif %}
                                {%  if modelo7.descripcion %}{{modelo7.descripcion}}{% endif %}
                            </li>
                        </ul>
                    {% endif %}
                {% endfor %}

                
                {% for modelo8 in modelo8 %}
                    {% if numeral.id == modelo8.numeral_id %}
                        <ul>
                            <li>
                                {% if modelo8.nombre %}{{modelo8.nombre}}{% endif %}
                                {% if modelo8.participantes %}{{modelo8.participantes}}{% endif %}
                                {% if modelo8.url %}{{modelo8.url}}{% endif %}
                                {% if modelo8.descripcion %}{{modelo8.descripcion}}{% endif %}
                            </li>
                        </ul>
                    {% endif %}
                {% endfor %}

                
                {% for modelo9 in modelo9 %}
                    {% if numeral.id == modelo9.numeral_id %}
                        <ul>
                            <li>
                                {% if modelo9.titulo %}{{modelo9.titulo}}{% endif %}
                                {% if modelo9.autores %}{{modelo9.autores}}{% endif %}
                                {% if modelo9.numeroReportes %}{{modelo9.numeroReportes}}{% endif %}
                                {% if modelo9.fecha %}{{modelo9.fecha}}{% endif %}
                                {% if modelo9.url %}url:{{modelo9.url}}{% endif %}
                            </li>
                        </ul>
                    {% endif %}
                {% endfor %}

            
                {% for modelo10 in modelo10 %}
                    {% if numeral.id == modelo10.numeral_id %}
                        <ul>
                            <li>
                                {% if modelo10.fecha %}{{modelo10.fecha}}{% endif %}
                                {% if modelo10.url %}{{modelo10.url}}{% endif %}
                                {% if modelo10.descripcion %}{{modelo10.descripcion}}{% endif %}
                                {% if modelo10.periodoNumeral %}{{modelo10.periodoNumeral}}{% endif %}
                            </li>
                        </ul>
                    {% endif %}
                {% endfor %}

                
                {% for modelo11 in modelo11 %}
                    {% if numeral.id == modelo11.numeral_id %}
                        <ul>
                            <li>
                                {% if modelo11.nombreEstudiante %}{{modelo11.nombreEstudiante}}{%endif%}
                                {% if modelo11.descripcion %}{{modelo11.descripcion}}{%endif%}
                                {% if modelo11.fecha %}{{modelo11.fecha}}{% endif %}
                                {% if modelo11.fechaPeriodo %}{{modelo11.fechaPeriodo}}{% endif %}
                            </li>
                        </ul>
                    {% endif %}
                {% endfor %}

                
                {% for modelo12 in modelo12 %}
                    {% if numeral.id == modelo12.numeral_id %}
                        <ul>
                            <li>
                                {% if modelo12.laboratorioTaller %}{{modelo12.laboratorioTaller}}{% endif %}
                            </li>
                        </ul>
                    {% endif %}
                {% endfor %}

                
                {% for modelo13 in modelo13 %}
                    {% if numeral.id == modelo13.numeral_id %}
                        <ul>
                            <li>
                                {% if modelo13.agenciasFinancieras %}{{modelo13.agenciasFinancieras}}{% endif %}
                                {% if modelo13.descripcion %}{{modelo13.descripcion}}{% endif %}
                            </li>
                        </ul>
                    {% endif %}
                {% endfor %}

                
                {% for modelo14 in modelo14 %}
                    {% if numeral.id == modelo14.numeral_id %}
                        <ul>
                            <li>
                                {% if modelo14.TelescopioInstrumentoInfra %}{{modelo14.TelescopioInstrumentoInfra}}{% endif %}
                                {% if modelo14.participantes %}{{modelo14.participantes}}{% endif %}
                                {% if modelo14.descripcion %}{{modelo14.descripcion}}{% endif %}
                            </li>
                        </ul>
                    {% endif %}
                {% endfor %}

                
                {% for modelo15 in modelo15 %}
                    {% if numeral.id == modelo15.numeral_id %}
                        <ul>
                            <li>
                                {% if modelo15.descripcion %}{{modelo15.descripcion}}{% endif %}
                            </li>
                        </ul>
                    {% endif %}
                {% endfor %}

                {% for citas in citas %}
                    {% if numeral.id == citas.numeral_id %}
                        <p>Citas Totales: <strong>{{citas.citas}}</strong></p>
                        <p>Citas obtenidas durante el periodo del reporte: <strong>{{citas.citasObtenidasEnPeriodo}}</strong></p>
                        <p>30a. Índice H:</p>
                        {{citas.indiceH}}
                    {% endif %}
                {% endfor %}

                {% for modelo16 in modelo16 %}
                   {% if numeral.id == modelo16.numeral_id %}
                    <ul>
                        <li>
                            {% if modelo16.nombreEstudiante %}{{modelo16.nombreEstudiante}}{% endif %}
                        </li>
                    </ul>
                   {% endif %}

                {% endfor %}

            {% endfor %}
        </div> <!--Fin Campos-->
        
        </div><!--Fin numerales div-->
        
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
<script>
$(".biblioteca").css('color', 'red');
</script>
</body>

</html>