{% extends 'core/header.html' %}
<!--Encabezado - nav - title name-->
{% block biblioteca_personal %}

<div class="container-fluid" style="padding-top: 260px;">
    <p class="float-right mr-3 btn btn-light" ><a href="https://www.scimagojr.com/journalrank.php?category=3103" target="blank">Consultar cuartiles</a></p>
    
        {% for message in messages %}
        <div class="alert alert-info alert-dismissible fade show text-center" role="alert">
            {{message|safe}}
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>            
        {% endfor %}
        <!-- Modal -->

    <table id="biblioteca-personal" class="table table-bordered table-striped text-center">
        <thead>
            <tr>
                <th scope="col">Fecha</th>
                <th scope="col">Link ADS</th>
                <th scope="col">Título</th>
                <th scope="col">Autores</th>
                <th scope="col">Enlaces</th>
                <th scope="col" >Numeral</th>
                <th scope="col">Estudiante(s)</th>
                <th scope="col">Acciones</th>
            </tr>
        </thead>

        <tbody>
            {% for biblioteca in biblioteca %}

            <tr id="biblioteca-{{biblioteca.id}}">
                
                <td>
                    {% if biblioteca.fecha %}
                        <p>{{biblioteca.fecha}}</p>
                    {% else %}
                        <p>Sin especificar</p>
                    {% endif %}
                </td>

                <td>
                    {% if biblioteca.url %}
                        <a target="blank" href="{{biblioteca.url}}"><p>{%if biblioteca.bibcode%}{{biblioteca.bibcode}}{%else%}Sin especificar{%endif%}</p></a>
                    {% else %}
                        <p>Sin especificar</p>
                    {% endif %}
                </td>
                
                <td style="width:350px; height: 100px; overflow : auto;">
                   {% if biblioteca.titulo %}
                        <p>{{biblioteca.titulo|truncatechars:150}}</p>
                   {% else %}
                        <p>Sin especificar</p>
                   {% endif %}
                </td>

                <td style="width: 350px; height: 100px; overflow : auto;">
                    {% if biblioteca.autores  %}
                        <p>{{biblioteca.autores|truncatechars:150}}</p>
                    {% else %}
                        <p>Sin especificar</p>
                    {% endif %}
                    
                </td>
                
                <td>
                    <div class="dropdown">
                        <a class="dropdown-toggle" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true"
                            aria-expanded="false"> <i style="font-size:25px; color:black;"
                                class="fas fa-file-alt"></i></a>
                        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                            <a target="blank" class="dropdown-item"
                                href="https://ui.adsabs.harvard.edu/link_gateway/{{biblioteca.bibcode}}/PUB_HTML/">Publisher
                                HTML</a>
                            <a target="blank" class="dropdown-item"
                                href="https://ui.adsabs.harvard.edu/link_gateway/{{biblioteca.bibcode}}/PUB_PDF/">Publisher
                                PDF</a>
                            <a target="blank" class="dropdown-item"
                                href="https://ui.adsabs.harvard.edu/link_gateway/{{biblioteca.bibcode}}/EPRINT_HTML/">arXiv
                                HTML</a>
                            <a target="blank" class="dropdown-item"
                                href="https://ui.adsabs.harvard.edu/link_gateway/{{biblioteca.bibcode}}/EPRINT_PDF/">arXiv
                                PDF</a>
                        </div>
                    </div>
                </td>
                
                <td style=" overflow : auto; width: 200px " name="numeral" class="bibliotecaNumeral bibliotecaData" >{% if biblioteca.numeral %}{{biblioteca.numeral}}{%else%}No aplica{% endif %}</td>
                
                <td class="bibliotecaEstudiantesEnArticulo bibliotecaData" name="estudiantesEnArticulo">{% if biblioteca.estudiantesEnArticulo%}{{biblioteca.estudiantesEnArticulo}}{%else%}No aplica{%endif%}</td>
                
                <td> 
                   
                    <button class="btn btn-success  mx-auto"
                        onClick="editarBiblioteca({{biblioteca.id}})" data-toggle="modal" data-target="#myModal"><i
                            class="fas fa-user-edit"></i></button>

                    <button class="btn btn-danger mx-auto"
                        onClick="eliminarItemBiblioteca({{biblioteca.id}})"><i class="fas fa-user-times"></i></button>
  
                </td>
                
            </tr>

            {% endfor %}
        </tbody>
    </table>

</div>
<!-- Modal UPDATE-->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="myModalLabel">Editar entrada</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                        aria-hidden="true">×</span></button>

            </div>
            <form id="actualizarBibliotecaForm">
                {% csrf_token %}
                <div class="modal-body">
                    <input class="form-control" id="form-id" type="hidden" name="id" />
                    
                    <label for="numeral">Añadir a numeral</label>
                    <select class="form-control mb-2" name="numeral" id="formNumeral">
                        <option selected id="form-Numeral" value=""></option>
                        <option value=1>1. Artículos científicos arbitrados en revistas periódicas indizadas en el primer cuartil.</option>
                        <option value=2>2. Artículos científicos arbitrados en revistas periódicas indizadas en segundo o tercer cuartil.</option>
                        <option value=3>3. Artículos científicos arbitrados en revistas periódicas indizadas en cuarto cuartil.</option>
                        <option value=4>4. Artículos científicos arbitrados en revistas del Índice CONACYT.</option>
                        <option value=5>5. Artículos científicos arbitrados en revistas periódicas emergentes.</option>
                        <option value=7>7. Artículos aceptados con arbitraje internacional en revistas periódicas indizadas.</option>
                        <option value=9>9. Artículos enviados con arbitraje en revistas periódicas no indizadas.</option>
                        <option value=11>11. Artículos científicos arbitrados en extenso en memorias de congresos internacionales.</option>
                        <option value=12>12. Artículos científicos arbitrados en extenso en memorias de congresos nacionales.</option>
                        <option value=13>13. Artículos científicos no arbitrados en extenso en memorias de congresos internacionales.</option>
                        <option value=14>14. Artículos científicos no arbitrados en extenso en memorias de congresos nacionales.</option>
                        <option value="15">14a. Reportes científicos no arbitrados en publicaciones periódicas.</option>
                        <option value="">No aplica</option>
                    </select>

                    <label for="estudiantes">Estudiante(s):</label>
                    <input class="form-control mb-2" placeholder="Apellido, Nombre" id="form-estudiantesEnArticulo"
                        type="text" name="estudiantesEnArticulo" />

                </div>

                <div class="modal-footer">
                    <button type="submit" class="btn btn-primary"><i class="fas fa-save"></i>&nbsp;Guardar</button>
                    <button type="button" class="btn btn-danger" data-dismiss="modal">&nbsp;Cancelar</button>
                </div>
            </form>
        </div>
    </div>
</div>
<!--fin Modal Update-->

<!--Modal para eliminar ItemBiblioteca.-->
<div class="modal fade" id="eliminarItemBiblioteca" tabindex="-1" role="dialog"
    aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">Eliminar Item</h5>

            </div>
            <form id="EliminarItemBibliotecaForm">
                {% csrf_token %}
                <div class="modal-body">
                    <input type="hidden" id="ItemEliminar-id" name="ItemEliminarId">
                    <h5 class="text-center">¿Desea eliminar este Item de su biblioteca?</h5><br>
                    <div class="d-flex justify-content-center">
                        <i style="font-size: 100px;" class="far fa-question-circle text-danger"></i>
                    </div>
                </div>

                <div class="modal-footer">
                    <input type="submit" class="btn btn-primary" value="Aceptar"></input>
                    <button type="button" class="btn btn-danger" data-dismiss="modal">Cancelar</button>
                </div>
            </form>

        </div>
    </div>
</div>
<!--Fin para eliminar ItemBiblioteca-->

{% endblock %}

{% block JsCode %}
<script type="text/javascript">
    // Modal Update
    function editarBiblioteca(id) {
        if (id) {
            //Traemos valor del campo a editar y almacenamos en variables.
            tr_id = "#biblioteca-" + id;
            estudiantesEnArticulo  = $(tr_id).find(".bibliotecaEstudiantesEnArticulo").text();
            numeral = $(tr_id).find(".bibliotecaNumeral").text();

            //Asignamos valores recogidos y los colocamos en el Modal, para la edición
            $('#form-id').val(id);

            if (estudiantesEnArticulo == "No aplica") {     
                $('#form-estudiantesEnArticulo').val("");
            }
            else{
                $('#form-estudiantesEnArticulo').val(estudiantesEnArticulo);
            }

            $("#form-Numeral").text(numeral);
            //$("#form-Numeral").val(numeral);            
        }
    }
   
    //UPADATE Item - Funcion de actualizar desde modal.
    $("form#actualizarBibliotecaForm").submit(function () { 
        var formData = new FormData(document.getElementById("actualizarBibliotecaForm"))
        $.ajax({
            type: "POST",
            url: '{% url "biblioteca:editar-biblioteca" %}',
            data: formData,
            enctype: "multipart/form-data",
            cache: false,
            contentType: false,
            processData: false,
            dataType: 'json',
            success: function(data) {

                actualizarLabelBiblioteca(data);
                $('form#actualizarBibliotecaForm').trigger("reset");
                $('#myModal').modal('hide');
                toastr["success"]('Entrada editada correctamente', 'Operacion exitosa')    
            }
        });
        
       
        return false;
    });

    function actualizarLabelBiblioteca(biblioteca) {
        $("#biblioteca-personal #biblioteca-" + biblioteca.id).children(".bibliotecaData").each(function () {
            var attr = $(this).attr("name");

            if (attr == "numeral") {
                if (biblioteca.numeral == "None") {
                    $(this).text("No aplica");
                }
                else {

                    if (biblioteca.numeral == "") {

                    }
                    else {
                        $(this).text(biblioteca.numeral);
                    }

                }
            }
            if(attr == "estudiantesEnArticulo" ){
                if(biblioteca.estudiantesEnArticulo == ""){
                    $(this).text("No aplica");
                }
                else{
                    $(this).text(biblioteca.estudiantesEnArticulo);
                }
               
            }
        });
    }
      
    //Biblioteca Elimninar
    function eliminarItemBiblioteca(id) {
        $('#eliminarItemBiblioteca').modal('show'); // abrir
        $('#ItemEliminar-id').val(id);
    }

    $("#EliminarItemBibliotecaForm").submit(function () {
        var id = $('input[name="ItemEliminarId"]').val().trim();
        var csrfmiddlewaretoken = $('input[name="csrfmiddlewaretoken"]').val().trim();

        $.ajax({
            url: '{% url "biblioteca:eliminar-biblioteca" %}',
            type: "POST",
            data: {
                'id': id,
                'csrfmiddlewaretoken': csrfmiddlewaretoken,
            },
            dataType: 'json',
            success: function (data) {

                if (data.deleted) {
                    $("#biblioteca-"+id).remove();
                    toastr.error('Entrada eliminada exitosamente', 'Operación exitosa')
                }
            }
        });

        $('#ItemEliminar-id').trigger("reset");
        $('#eliminarItemBiblioteca').modal('hide');//cierra modal
        return false;
    });
    //Fin Biblioteca Eliminar

</script>
{% endblock %}