{% extends 'core/header.html' %}
<!--Encabezado - nav - title name-->
{% block biblioteca_personal %}
<div style="padding-top: 250px;">
    <div class="container card pb-4">

        <div class="row">
            <div class="col-12 card-header">
                <strong>
                    <p style="font-size:20px;" class="text-center">Búsqueda de publicaciones (basado en NASA/ADS)</p>
                </strong>
            </div>
        </div>

        <div class="mt-3 col-12">
            <i>
                <p class="text-muted">QUICK:
                    <button id="autor" class="btn btn-link">author</button>
                    <button id="primer_autor" class="btn btn-link">1st author</button>
                    <button id="año" class="btn btn-link">year</button>
                    <button id="abstract" class="btn btn-link">abstract</button>
                    <button id="title" class="btn btn-link">title</button>
                    <button id="database" class="btn btn-link">database</button>
                </p>
            </i>
        </div>

        <hr>
        <div class="row">   
            <form class="col-12" method="POST" action="{% url 'biblioteca:publicaciones_generales' %}">
                {% csrf_token %}
                <label for="autor">Búsqueda general:</label>
                <div class="input-group">
                        
                    <input class="form-control col-12" type="text" name="author" id="busquedaGeneral" class="form-control"
                        id="validationCustomUsername" aria-describedby="inputGroupPrepend" required>
                    <div class="input-group-append">
                            <button class="text-white btn btn-primary" >Buscar &nbsp;<i class="fas fa-search"></i></button>
                    </div>
                        
                </div>  
            </form>
        </div>

        

        <div class="row justify-content-center d-flex">
                
            <div class="mt-4 col-6">
                <p><strong>autor</strong> Hawking, S</p>
                <p><strong>1er autor</strong> ^Hawking, S</p>
                <p><strong>año</strong> year:2012</p>
                <p><strong>rango</strong> year:2000-2015</p>
                <p><strong>abstract</strong> abs:"OAGH"</p>
                <p><strong>astronomía</strong> database:"astronomy"</p>

            </div>

            <div class="mt-4 col-6">
                <strong>ejemplos:</strong>
                <p style="margin-left: 70px;">Haro abs:"T Tauri" year:1960-1965</p>
                <p style="margin-left: 70px;">^Faber author:"Dressler"</p>
                <p style="margin-left: 70px;">Hubble, E year:1920</p>
                <p style="margin-left: 70px;">author: "Smith, A" database:"astronomy"</p>
                <p style="margin-left: 70px;">title: "Event Horizon Telescope"</p>

            </div>
                
        </div>
        <hr>

        <div class="row">
            <form class="col-12" method="POST" action="{% url 'biblioteca:publicaciones_bidcode' %}">
                {% csrf_token %}
                <label for="bibcode">BibCode:</label>
                <div class="input-group">
                    <input placeholder="ejemplo: 2018MNRAS.479..917G" class="form-control" type="text" name="bibcode" id="bibcode">
                    <div class="input-group-append">
                        <button class="text-white btn btn-primary" >Buscar &nbsp;<i class="fas fa-search"></i></button>
                    </div>
                </div>   
            </form>
        </div>
        <hr>

        <div class="row">
            <form class="col-12" method="POST" action="{% url 'biblioteca:publicaciones_orcid' %}">
                {% csrf_token %}
                <label for="orcid">ORCID:</label>
                <div class="input-group">
                    <input placeholder="0000-0002-1825-0097" class="form-control" value="{{user.orcId}}" type="text"
                    name="orcid" id="orcid">
                    <div class="input-group-append">
                        <button class="text-white btn btn-primary" >Buscar &nbsp;<i class="fas fa-search"></i></button>
                    </div>
                </div>
                

                {% if user.orcId == "" %}
                <small> &nbsp;&nbsp; No tiene asignado un ORCID iD en su <a
                        href="{% url 'registration:actualizar-perfil' %}">perfil.</a></small>

                {% endif %}

                
            </form>
        </div>
        <hr>

    </div>
</div>

<br>
{% endblock %}

{% block JsCode %}
<script>
    $("#autor").click(function () {
        $('#busquedaGeneral').val($('#busquedaGeneral').val() + 'author:"" ')

    });

    $("#primer_autor").click(function () {
        $('#busquedaGeneral').val($('#busquedaGeneral').val() + 'author:"^" ')
    });

    $("#año").click(function () {
        $('#busquedaGeneral').val($('#busquedaGeneral').val() + 'year:')
    });

    $("#abstract").click(function () {
        $('#busquedaGeneral').val($('#busquedaGeneral').val() + 'abs:"" ')
    });

    $("#title").click(function () {
        $('#busquedaGeneral').val($('#busquedaGeneral').val() + 'title:"" ')
    });

    $("#database").click(function () {
        $('#busquedaGeneral').val($('#busquedaGeneral').val() + 'database:"astronomy" ')
    });



</script>
{% endblock %}