{% extends 'core/header.html' %}
<!--Encabezado - nav - title name-->
{% block publicacion %}

<div class="container-fluid mb-4" style="padding-top: 250px;">

    <form action="{% url 'biblioteca:agregar-biblioteca' %}" id="formid" method="POST">
        {% csrf_token %} 

        <button data-backdrop="static" data-keyboard="false" data-toggle="modal" data-target="#loading"
            type="submit" onclick="mensaje()" id="enviar" class="btn btn-success"><i
                class="fas fa-book"></i>&nbsp;&nbsp;Agregar a biblioteca</button>

        <table id="publicaciones" class="table table-bordered table-striped text-center" width=100%>
            <thead>
                <tr>
                    <th scope="col">Agregar</th>
                    <th scope="col">OK</th>
                    <th scope="col">Fecha</th>
                    <th scope="col">Link ADS</th>
                    <th scope="col">Título</th>
                    <th scope="col">Autor</th>
                    <th scope="col">Enlaces</th>
                </tr>
            </thead>

            <tbody>

                {% for datos in data %}
                <tr>

                    <td>
                        <input style="transform: scale(1.5);"  class="center" type="checkbox" id="seleccion" name="seleccion[]" value="{{datos.bibcode}}">
                    </td>

                    <td>
                        {%for article in articulos%}
                            {% if  article.bibcode == datos.bibcode %} 
                                <i style="color:green;" class="fas fa-check-circle">
                            {%endif%}
                        {% endfor %}
                    </td>

                    <td>
                        <p>{{datos.year}}</p>
                    </td>

                    <td>
                        <a target="blank" href="https://ui.adsabs.harvard.edu/abs/{{datos.bibcode}}/abstract">
                            <p>{{datos.bibcode}}</p>
                        </a>
                    </td>

                    <td style="width:450px;">{% for title in datos.title %}{{title}}{% endfor %}</td>

                    <td style="width:450px;">{% for author in datos.author %} {% if forloop.counter <= 7 %} {{author}}
                        {% endif %}{% endfor %}</td>

                    <td style="width:180px;">
                        <div class="dropdown">
                            <a class="dropdown-toggle" id="dropdownMenuButton" data-toggle="dropdown"
                                aria-haspopup="true" aria-expanded="false"> <i style="font-size:25px; color:black;"
                                    class="fas fa-file-alt"></i></a>
                            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                <a target="blank" class="dropdown-item"
                                    href="https://ui.adsabs.harvard.edu/link_gateway/{{datos.bibcode}}/PUB_HTML/">Publisher
                                    HTML</a>
                                <a target="blank" class="dropdown-item"
                                    href="https://ui.adsabs.harvard.edu/link_gateway/{{datos.bibcode}}/PUB_PDF/">Publisher
                                    PDF</a>
                                <a target="blank" class="dropdown-item"
                                    href="https://ui.adsabs.harvard.edu/link_gateway/{{datos.bibcode}}/EPRINT_HTML/">arXiv
                                    HTML</a>
                                <a target="blank" class="dropdown-item"
                                    href="https://ui.adsabs.harvard.edu/link_gateway/{{datos.bibcode}}/EPRINT_PDF/">arXiv
                                    PDF</a>
                            </div>
                        </div>

                    </td>
                </tr>
                {% endfor %}

            </tbody>

        </table>
    </form>

</div>

<!-- Modal - Carga Metadatos -->
<div class="modal fade" id="loading" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">Obteniendo Metadatos ADS</h5>
            </div>
            <div class="modal-body">
                <p>Espere un momento</p>

            </div>
            <div class="modal-footer">
            </div>
        </div>
    </div>
</div>


<script>
    function enviar() {
        toastr.success("Selecciones añadidas a su biblioteca personal");
        $("#formid").submit()
    }
</script>

{% endblock %}